$c-item-map-font-color:                 $app-color-light-text;
$c-item-map-font-color:                 17px;
$c-item-map-line-height:                20px;

$c-item-map-window-height:              155px;
$c-item-map-border-radius:              5px;

app-item-map
{
    .c-title
    {
        color: $c-item-map-font-color;
        font-size: $c-item-map-font-color;
        font-weight: normal;
        line-height: $c-item-map-line-height;
        margin-bottom: 8px;
    }

    .c-map-window
    {
        width: 100%;
        height: $c-item-map-window-height;
        border-radius: $c-item-map-border-radius;
        background-color: black;
    }
}