.tn-map-pin
{
    position: relative;
    display: block;
    box-sizing: border-box;
    background-color: transparent;
    height: $tn-map-pin-icon-height; width: $tn-map-pin-icon-width;

    &:before
    {
        content: $tn-map-pin-icon;
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
        line-height: 1em;
        font-family: $tn-map-pin-icon-font-family;
        font-size: $tn-map-pin-icon-font-size;
        color: $tn-map-pin-icon-color;
        text-shadow: $tn-map-pin-icon-box-shadow;
    }


    &.tn-map-pin-inner
    {
        &:before
        {
            background-image: linear-gradient($tn-map-pin-icon-color, $tn-map-pin-icon-color);
            background-repeat: no-repeat;
            background-size: ($tn-map-pin-icon-inner-font-size + 0.1) ($tn-map-pin-icon-inner-font-size + 0.1);
            background-position: 0.4rem 0.6rem;
        }

        &:after
        {
            position: absolute;
            top: 0.7rem; left: 0.6rem;
            height: $tn-map-pin-icon-inner-font-size - 0.2; width: $tn-map-pin-icon-inner-font-size - 0.2;
            line-height: 1em;
            font-family: $tn-map-pin-icon-inner-font-family;
            font-size: $tn-map-pin-icon-inner-font-size;
            color: $tn-map-pin-icon-inner-color;

            text-shadow: $tn-map-pin-icon-inner-shadow-top,
                         $tn-map-pin-icon-inner-shadow-bottom;
        }

        &.tn-icon-plus
        {
            &:after
            {
                content: $tn-map-pin-icon-plus;
            }
        }

        &.tn-icon-check
        {
            &:after
            {
                content: $tn-map-pin-icon-check;
            }
        }
    }
}

.tn-map-pin
{
    &.ff-map-pin
    {
        &:before
        {
            left: 1px;
            color: $app-map-pin-icon-color;

            text-shadow: -1px    0  0 $app-map-pin-icon-border-color,
                          1px    0  0 $app-map-pin-icon-border-color,
                            0  1px  0 $app-map-pin-icon-border-color,
                            0 -1px  0 $app-map-pin-icon-border-color,

                            0 1px 1px $app-map-pin-icon-shadow-color;
        }

        &.ff-active
        {
            &:before
            {
                color: $app-map-pin-icon-color-active;
                text-shadow: -1px    0  0 $app-map-pin-icon-border-color-active,
                              1px    0  0 $app-map-pin-icon-border-color-active,
                                0  1px  0 $app-map-pin-icon-border-color-active,
                                0 -1px  0 $app-map-pin-icon-border-color-active,

                                0 1px 1px $app-map-pin-icon-shadow-color;
            }
        }

        &.tn-map-pin-inner
        {
            &:before
            {
                background-image: linear-gradient($app-map-pin-icon-inner-color-background, $app-map-pin-icon-inner-color-background);
            }

            &:after
            {
                color: $app-map-pin-icon-inner-color;

                text-shadow: $app-map-pin-icon-inner-shadow-top,
                             $app-map-pin-icon-inner-shadow-bottom;
            }

            &.ff-active
            {
                &:before
                {
                    background-image: linear-gradient($app-map-pin-icon-inner-color-background-active, $app-map-pin-icon-inner-color-background-active);
                }

                &:after
                {
                    color: $app-map-pin-icon-inner-color-active;

                    text-shadow: $app-map-pin-icon-inner-shadow-top-active,
                                 $app-map-pin-icon-inner-shadow-bottom-active;
                }
            }
        }
    }
}