<ion-header elevation="1">
  <ion-toolbar color="light">
      <ion-title>{{ 'page.user-profile.title' | translate }}</ion-title>

      <ion-buttons slot="end">
          <ion-button icon-only (click)="menuOpen()" [disabled]="menuOpen$ | async">
              <app-icon [name]="IconType.Menu"
                        [color]="Color.Dark">
              </app-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form novalidate
        *ngIf="form$ | async"
        [formGroup]="form$ | async"
        ngxsForm="user-profiles.form">
      <app-item-header [form]="form$ | async"
                       [iconUrl]="iconUrl$ | async"
                       title="nameFirst"
                       subtitle="nameLast"
                       iconUrlEmpty="assets/icons/avatar-empty.svg"
                       [titlePlaceholder]="'page.user-profile.titlePlaceholder' | translate"
                       [subtitlePlaceholder]="'page.user-profile.subtitlePlaceholder' | translate"
                       [iconPlaceholder]="'page.user-profile.iconPlaceholder' | translate"
                       (iconClicked)="selectIcon()">
      </app-item-header>

      <ion-list>
          <ion-item-group>
              <ion-item-divider></ion-item-divider>

              <ion-item>
                  <ion-icon name="lock" slot="start" color="medium"></ion-icon>
                  <ion-label>{{ 'page.user-profile.isPublisher' | translate }}</ion-label>
                  <ion-toggle formControlName="isPublisher" color="primary"></ion-toggle>
              </ion-item>

              <ion-item-divider></ion-item-divider>
          </ion-item-group>
      </ion-list>
  </form>
</ion-content>
