@import 'variables';

ion-toolbar {
    ion-segment {
        ion-segment-button {
            --ion-color-contrast: var(--ion-color-dark);
        }
    }
}

ion-content {
    --background: var(--ion-color-primary);
}

app-icon {
  --cpt-color: #{$fire-color-grey-lighter};
  --cpt-font-size: 30px;
    margin-right: 9px;
    margin-left: 2px;
    margin-top: 1px;
}
