<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ 'page.event-selector.title' | translate }}
        </ion-title>

        <ion-buttons slot="start">
            <ion-button color="dark" (click)="cancel()">
                {{ 'general.cancel' | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ff-item-events *ngFor="let events of data$ | async"
                        [dateEvents]="events"
                        (selected)="select($event)">
        </ff-item-events>
    </ion-list>

    <ion-infinite-scroll threshold="100px"
                        (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"
                                    [loadingText]="'page.calendar.loading' | translate">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <app-icon-message *ngIf="!(exists$ | async)"
        slot="fixed"
        [icon]="IconType.Alerts"
        [message]="'page.events.empty.created' | translate">
    </app-icon-message>
</ion-content>
