<ion-header>
  <ion-toolbar>
      <ion-title color="dark">
          {{ 'page.alerts-list.title' | translate}}
      </ion-title>

      <ion-buttons slot="start">
          <ion-back-button color="dark"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none"
              elevation="1">
        <ion-item *ngFor="let alert of alerts$ | async"
                  (click)="navigate(Pages.AlertDetail, alert)">
              <ion-avatar slot="start">
                  <img *ngIf="alert.metadata.urlMedium" [src]="alert.metadata.urlMedium">
              </ion-avatar>

              <ion-label>
                  <h2>{{ alert.name }}</h2>

                  <p>{{ alert.metadata.timeStartDate | date:'shortTime' }} | {{ alert.metadata.timeStartFormattedShort }}</p>
              </ion-label>
        </ion-item>
    </ion-list>

  <app-icon-message *ngIf="empty$ | async"
                    slot="fixed"
                    [icon]="IconType.Events"
                    [message]="'page.events.empty' | translate">
  </app-icon-message>

</ion-content>
