@import 'variables';

:host {
    ion-fab {
        &.fab-vertical-bottom {
            bottom: 0;
        }

        &.fab-horizontal-start {
            left: 0;
        }
    }

    ion-list {
        ion-avatar {
            height: 3rem;
            width: 3rem;
        }
    }
}
