@import 'variables';

:host
{
    app-icon {
        --cpt-color: #{$fire-color-primary};
        --cpt-font-size: 30px;
        margin-right: 9px;
        margin-left: 2px;
        margin-top: 1px;
    }

    .ios {
        ion-list {
            margin-top: 46px;
        }
    }

    .md {
      app-icon {
        margin-right: 22px;
      }
    }

    ion-menu {
        --background: #{$fire-color-dark};
        --max-width: 210px;
    }

    ion-item {
        --color: #{$fire-color-primary};
        cursor: pointer;
    }

    ion-list {
        --ion-item-background: #{$fire-color-dark}
    }
}
