@import 'variables';

:host
{
      .ios {
          ion-list {
              margin-top: 46px;
          }
    }

    .md {
        app-icon {
            margin-right: 22px;
        }
    }

    ion-menu {
        --background: #{$fire-color-dark};
        --max-width: 210px;
    }

    ion-item {
        --color: #{$fire-color-primary};
        cursor: pointer;
    }

    ion-list {
        --ion-item-background: #{$fire-color-dark}
    }
}
