<ion-header color="white">
    <ion-toolbar >
        <ion-title>
            {{ ((isNew$ | async) ? 'page.cluster.title.edit.new' : 'page.cluster.title.edit') | translate }}
        </ion-title>

        <ion-buttons slot="start">
            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="dark" (click)="save()" [disabled]="!(canUpdate$ | async)">
                {{ ((isNew$ | async) ? 'general.publish' : 'general.update') | translate }}
            </ion-button>
         </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <form novalidate
          [formGroup]="form$  | async"
          ngxsForm="clusters.form">
        <app-item-header [form]="form$ | async"
                         [iconUrl]="iconUrl$ | async"
                         title="name"
                         subtitle="tagline"
                         iconUrlEmpty="assets/icons/avatar-empty.svg"
                         [titlePlaceholder]="'page.event.titlePlaceholder' | translate"
                         [subtitlePlaceholder]="'page.event.subtitlePlaceholder' | translate"
                         [iconPlaceholder]="'page.event.iconPlaceholder' | translate"
                         (iconClicked)="navigate(Pages.IconSelector)">
        </app-item-header>

        <div class="cpt-detail" fxLayout="column">
          <ion-list>
              <ion-item-group>
                  <ion-item-divider></ion-item-divider>

                  <app-item-description [form]="form$ | async"
                                        [title]="'general.description' | translate"
                                        description="description"
                                        [descriptionPlaceholder]="'page.cluster.descriptionPlaceholder' | translate">
                  </app-item-description>

                  <ion-item-divider></ion-item-divider>

                  <ion-item>
                      Events list will go here
                  </ion-item>

                  <ion-item-divider></ion-item-divider>
              </ion-item-group>
          </ion-list>
      </div>
    </form>
</ion-content>
