.angular/
/apps/firefly-functions/lib
/apps/firefly-functions/node_modules
/apps/firefly-mobile/.gradle/
/apps/firefly-mobile/android
/apps/firefly-mobile/config
/apps/firefly-mobile/ios
/apps/firefly-mobile/node_modules
apps/firefly-mobile/resources
/apps/firefly-mobile/www
/coverage
/dist
/node_modules
/tmp
