<ion-header class="app-transparent">
    <ion-navbar color='white'>
        <ion-title>{{'pages.cluster.title' | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="app-color-white">
    <form novalidate [formGroup]="form$ | async">
        <app-item-header [form]="form$ | async"
                        title="name"
                        [titlePlaceholder]="'pages.cluster.titlePlaceholder' | translate"
                        subtitle="tagline"
                        [subtitlePlaceholder]="'pages.cluster.subtitlePlaceholder' | translate"
                        icon="icon"
                        [iconPlaceholder]="'pages.cluster.iconPlaceholder' | translate"
                        iconUrlEmpty="icons/avatar-empty.svg">
        </app-item-header>
<!--
        <app-item-header icon="temp/icons/coffee-icon-blue.png"
                         title="My cluster title!"
                         subtitle="My subtitle">
        </app-item-header>
-->

        <app-item-map [title]="'general.locations' | translate"></app-item-map>

        <div class="c-detail" fxLayout="column">
            <ion-list>
                <button ion-item (click)="navigateCategories()">
                    <ion-icon name="logo-buffer" item-start></ion-icon>
                    <ion-label>{{'general.categories' | translate}}</ion-label>
                </button>

                <ion-item>
                    <ion-icon name="lock" item-start></ion-icon>
                    <ion-label>{{'general.isPrivate' | translate}}</ion-label>
                    <ion-toggle formControlName="private" checked="true"></ion-toggle>
                </ion-item>
            </ion-list>
        </div>

        <app-item-description [form]="form$ | async"
                              [title]="'general.description' | translate"
                              description="description"
                              [descriptionPlaceholder]="'pages.cluster.descriptionPlaceholder' | translate"
                              image="photo"
                              [imagePlaceholder]="'pages.cluster.imagePlaceholder' | translate">
        </app-item-description>
<!--
        <app-item-description [title]="'general.description' | translate"
                              description="The Ionic Conference is a one-day conference featuring talks from the
                              Ionic team. It is focused on Ionic applications being built with
                              Ionic 2. This includes migrating apps from Ionic 1 to Ionic 2,
                              Angular concepts, Webpack, Sass, and many other technologies used
                              in Ionic 2. Tickets are completely sold out, and we’re expecting
                              more than 1000 developers – making this the largest Ionic
                              conference ever!"
                              image="temp/images/subscriptions/pokemon-go.jpg">
        </app-item-description>
-->
    </form>
</ion-content>
