<ion-header>
    <ion-toolbar elevation="2" color="dark">
        <ion-title>{{'page.assets-clusters.title' | translate}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  	<ion-list>
        <ion-item *ngFor="let cluster of clusters$ | async">
            <ion-avatar slot="start">
                <img [src]="cluster.icon"> 
            </ion-avatar>
            <ion-label>
                <h2>{{cluster.name}}</h2>
                <p>{{cluster.tagline}}</p>
            </ion-label>
            <ion-icon name="arrow-dropright" item-right></ion-icon>
        </ion-item>        
      </ion-list>
      <div *ngIf="(clusters$ | async)?.length==0" class="container">
        <p>Create a new Cluster?</p>
      </div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button color="secondary" mode="md" (click)="add()">
            <ion-icon name="md-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
