<ion-header>
    <ion-toolbar color="white">
        <ion-title color="dark">
            {{ (modal ? 'page.assets-clusters.title-modal' : 'page.assets-clusters.title') | translate}}
        </ion-title>

        <ion-buttons slot="start">
            <ion-back-button *ngIf="!modal" color="dark"></ion-back-button>

            <ion-button *ngIf="modal" color="dark" (click)="cancel()">
                {{ 'general.cancel' | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  	<ion-list lines="none" elevation="1">
        <ion-item *ngFor="let cluster of clusters$ | async"
                  (click)="select(cluster)">
            <ion-avatar slot="start">
                <img [src]="cluster.iconId">
            </ion-avatar>

            <ion-label>
                <h2>{{cluster.name}}</h2>
                <p>{{cluster.tagline}}</p>
            </ion-label>

            <ion-icon *ngIf="!modal" name="arrow-dropright" item-right></ion-icon>
        </ion-item>
    </ion-list>
      <div *ngIf="!(clustersFound$ | async)" class="container">
        <p>Create a new Cluster?</p>
      </div>

    <ion-fab *ngIf="!modal" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button color="secondary" mode="md" (click)="add()">
            <ion-icon name="md-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
