.view-container
{
    .md-button
    {
        &.md-primary
        {
            &.md-raised
            {
                &.md-fab
                {
                    background-color: $app-color-primary;

                    &:not([disabled])
                    {
                        &:hover
                        {
                            background-color: $app-color-accent-light;

                            &.md-focused
                            {
                                background-color: $app-color-primary;
                            }
                        }
                    }
                }
            }
        }
    }

    &.tab-content
    {
        .md-fab
        {
            position: absolute;
//            bottom: $tabs-height + $gm-view-margin; right: $gm-view-margin;
        }
    }
}