<ion-header color="light">
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)" [value]="Pages.IconAssets" color="dark">
          <ion-segment-button [value]="Pages.IconAssets">
              <ion-label>{{'page.icon-assets.title' | translate}}</ion-label>
          </ion-segment-button>

          <ion-segment-button [value]="Pages.IconLibrary" (ionSelect)="selectFromCamera()">
              <ion-label>{{'page.icon-library.title' | translate}}</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-buttons slot="start">
            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="segment">
    <app-page-icon-catalog *ngSwitchCase="Pages.ImageCatalog"></app-page-icon-catalog>
    <app-page-icon-assets *ngSwitchCase="Pages.IconAssets"></app-page-icon-assets>
    <app-page-icon-library *ngSwitchCase="Pages.ImageLibrary"></app-page-icon-library>
</ion-content>
