<ion-header color="white">
    <ion-toolbar >
        <ion-title>
            {{ ((isNew$ | async) ? 'page.event.title.edit.new' : 'page.event.title.edit') | translate }}
        </ion-title>

        <ion-buttons slot="start">
            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="dark" (click)="save()" [disabled]="!(canUpdate$ | async)">
                {{ ((isNew$ | async) ? 'general.publish' : 'general.update') | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form novalidate
          [formGroup]="form$ | async"
          ngxsForm="events.form">
        <app-item-header [form]="form$ | async"
                         [iconUrl]="iconUrl$ | async"
                         title="name"
                         subtitle="tagline"
                         iconUrlEmpty="assets/icons/avatar-empty.svg"
                         [titlePlaceholder]="'page.interest.titlePlaceholder' | translate"
                         [subtitlePlaceholder]="'page.interest.subtitlePlaceholder' | translate"
                         [iconPlaceholder]="'page.interest.iconPlaceholder' | translate"
                         (iconClicked)="navigate(Pages.AssetsInterests)">
        </app-item-header>

        <app-item-map [title]="'general.location' | translate"
                      (click)="navigate(Pages.EventLocation)">
        </app-item-map>

        <div class="cpt-detail" fxLayout="column">
            <ion-list>
                <ion-item-group>
                    <ion-item-divider></ion-item-divider>

                    <ion-item>
                        <ion-label>{{ 'general.starts' | translate }}</ion-label>
                        <ion-datetime name="start"
                                      [value]="timeStart$ | async"
                                      [displayFormat]="'date-time.displayFormat' | translate"
                                      [pickerFormat]="'date-time.pickerFormat' | translate"
                                      [cancelText]="'general.cancel' |  translate"
                                      [doneText]="'general.done' | translate"
                                      (ionChange)="timeChanged($event, 'timeStart')">
                        </ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label>{{ 'general.ends' |  translate }}</ion-label>
                        <ion-datetime name="end"
                                      [value]="timeEnd$ | async"
                                      [displayFormat]="'date-time.displayFormat' | translate"
                                      [pickerFormat]="'date-time.pickerFormat' | translate"
                                      [cancelText]="'general.cancel' |  translate"
                                      [doneText]="'general.done' | translate"
                                      (ionChange)="timeChanged($event, 'timeEnd')"
                                      [class.cpt-invalid]="!(timeEndValid$ | async)">
                        </ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label>{{ 'page.event.timeNotify' | translate }}</ion-label>
                        <ion-datetime name="notify"
                                      [disabled]="notifyComplete$ | async"
                                      [value]="timeNotify$ | async"
                                      [displayFormat]="'date-time.displayFormat' | translate"
                                      [pickerFormat]="'date-time.pickerFormatHourly' | translate"
                                      [cancelText]="'general.cancel' |  translate"
                                      [doneText]="'general.done' | translate"
                                      (ionChange)="timeChanged($event, 'timeNotify')"
                                      [class.cpt-invalid]="!(timeNotifyValid$ | async)">
                        </ion-datetime>
                    </ion-item>


                    <ion-item-divider></ion-item-divider>

                    <ion-item>
                        <ion-icon name="lock" slot="start" color="medium"></ion-icon>
                        <ion-label>Is Private</ion-label>
                        <ion-toggle formControlName="private" color="primary"></ion-toggle>
                    </ion-item>

                    <app-item-description [form]="form$ | async"
                                          [title]="'general.description' | translate"
                                          description="description"
                                          [descriptionPlaceholder]="'page.event.descriptionPlaceholder' | translate">
                    </app-item-description>

                    <ion-item-divider></ion-item-divider>
                </ion-item-group>
            </ion-list>
        </div>

        <app-item-image [url]="imageUrl$ | async"
                        [form]="form$ | async"
                        [placeholder]="'page.event.imagePlaceholder' | translate"
                        [title]="'general.heroImage' | translate"
                        [edit]="true"
                        (clicked)="navigate(Pages.ImageSelector)">
        </app-item-image>
    </form>
</ion-content>
