app-item-map,
app-item-description {
    padding-left: 1rem;
    padding-right: 1rem;
}

app-item-description {
    padding-top: 1.25rem;
}

app-item-image {
    --cpt-image-border-radius: 14px;
}

app-item-map {
    margin-bottom: 1.5rem;
}

ion-list {
    margin-bottom: 0;
}
