<ion-header>
    <ion-toolbar>
        <ion-title>{{'page.event-locations.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <form class="cpt-form" novalidate [formGroup]="form$ | async">
        <app-map></app-map>

        <ion-fab slot="fixed" vertical="bottom" horizontal="end" routerLink="/locations">
            <ion-fab-button color="secondary">
              <ion-icon name="md-add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </form>
</ion-content>
