<ion-header>
    <ion-toolbar>
        <ion-title>{{'page.assets-images.title' | translate}}</ion-title>

        <ion-buttons slot="start">
            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button icon-only (click)="menuOpen()" [disabled]="menuOpen$ | async">
                <ion-icon name="person" color="dark" size="large"></ion-icon>
            </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-image-grid *ngIf="found$ | async"
                    [urls]="urls$ | async"
                    [square]="false">
    </app-image-grid>

    <app-icon-message *ngIf="empty$ | async"
                      [icon]="IconType.Images"
                      [message]="'page.images.empty' | translate">
    </app-icon-message>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="add()">
        <ion-fab-button color="primary" mode="md" (click)="navigate()">
            <ion-icon name="md-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
