<ion-header>
    <ion-toolbar>
        <ion-title>{{'page.assets-images.title' | translate}}</ion-title>
        <ion-buttons slot="start">

            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button icon-only (click)="menuOpen()" [disabled]="menuOpen$ | async">
              <ion-icon name="person" color="dark" size="large"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="add()">
        <ion-fab-button color="secondary">
            <ion-icon name="md-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
