.gm-elevated-1  {box-shadow: $gm-elevated-1;}
.gm-elevated-2  {box-shadow: $gm-elevated-2;}
.gm-elevated-3  {box-shadow: $gm-elevated-3;}
.gm-elevated-4  {box-shadow: $gm-elevated-4;}
.gm-elevated-5  {box-shadow: $gm-elevated-5;}
.gm-elevated-6  {box-shadow: $gm-elevated-6;}
.gm-elevated-7  {box-shadow: $gm-elevated-7;}
.gm-elevated-8  {box-shadow: $gm-elevated-8;}

.gm-bar-nav                         {box-shadow: $gm-elevated-4;}
.gm-button-raised                   {box-shadow: $gm-elevated-2;}
.gm-button-raised:active            {box-shadow: $gm-elevated-6;}
.gm-button-raised:hover             {box-shadow: $gm-elevated-6;}
.gm-button-action-floating          {box-shadow: $gm-elevated-8;}
.gm-button-action-floating:active   {box-shadow: $gm-elevated-14;}
.gm-button-action-floating:active   {box-shadow: $gm-elevated-14;}
.gm-card                            {box-shadow: $gm-elevated-2;}