$twitter-color:                         #55ACEE;

$twitter-button-color-background:       $twitter-color;
$twitter-button-icon-color-text:        $twitter-color;
$twitter-button-icon-content:           "\f099";