<ion-header>
  <ion-toolbar>
      <ion-buttons slot="secondary" fxLayout="row" fxLayoutAlign="space-between center">
          <ion-button icon-only (click)="navigate(PagesHome.Search)">
              <ion-icon name="search" color="dark" size="large"></ion-icon>
          </ion-button>
          <ion-button icon-only (click)="navigate(PagesHome.Subscriptions)">
              <ion-icon name="options" color="dark" size="large"></ion-icon>
          </ion-button>
          <ion-button icon-only (click)="navigate(PagesHome.Publish)">
              <ion-icon name="md-add" color="dark" size="large"></ion-icon>
          </ion-button>
          <ion-button icon-only (click)="navigate(PagesHome.Assets)">
              <ion-icon name="cloud-outline" color="dark" size="large"></ion-icon>
          </ion-button>
          <ion-button icon-only (click)="navigate(PagesHome.User)">
            <ion-icon name="person" color="dark" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-slides pager="true" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let alert of alerts$ | async">
        <app-slide [slide]="alert" [buttonText]="'general.go' | translate" [routerLink]="'dead/link'"></app-slide>
    </ion-slide>
</ion-slides>

<ion-footer>
  <ion-toolbar>
      <ion-buttons slot="secondary" fxLayout="row" fxLayoutAlign="space-between center">
          <ion-button icon-only>
              <ion-icon name="md-paper" color="dark" size="large"></ion-icon>
          </ion-button>
          <ion-button icon-only>
              <ion-icon name="md-trash" color="dark" size="large"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
