<ion-header elevation="1">
    <ion-toolbar *ngIf="searching"
                 color="light"
                 (ionBlur)="searchShow(false)"
                 (ionCancel)="cancel()"
                 (ionChange)="search($event)">
        <ion-searchbar #searchBar
                       debounce="600"
                       showCancelButton="focus"
                       [placeholder]="'general.search' | translate">
        </ion-searchbar>
    </ion-toolbar>

    <ion-toolbar *ngIf="!searching"
                 color="light">
        <ion-buttons slot="start">
            <ion-button *ngIf="authenticated$ | async" icon-only (click)="go(Pages.Alert)" class="cpt-notifications" [disabled]="menuOpen$ | async">
                <ion-icon name="notifications" color="dark" size="large"></ion-icon>

                <ion-badge slot="end" *ngIf="hasUnread$ | async" color="secondary">{{ unread$ | async }}</ion-badge>
            </ion-button>
        </ion-buttons>

        <ion-title color="dark">
            {{ 'page.stream.title' | translate}}
        </ion-title>

        <ion-buttons slot="end">
            <ion-button icon-only
                        [disabled]="menuOpen$ | async"
                        (click)="searchShow(true)">
                <ion-icon name="search" color="dark" size="large"></ion-icon>
            </ion-button>

            <ion-button *ngIf="authenticated$ | async"
                        icon-only
                        [disabled]="menuOpen$ | async"
                        (click)="showPopover($event)">
                <ion-icon name="options" color="dark" size="large"></ion-icon>
            </ion-button>

            <ion-button icon-only
                        (click)="menuOpen()"
                        [disabled]="menuOpen$ | async">
                <ion-icon name="person" color="dark" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<section fxLayout="column" fxLayoutAlign="center">
    <ion-router-outlet [animated]="false"></ion-router-outlet>
</section>
