<ion-header elevation="1">
    <ion-toolbar color="light">
        <ion-buttons slot="start">
<!--
          <ion-button icon-only (click)="navigate(Pages.Search)">
              <ion-icon name="search" color="dark" size="large"></ion-icon>
          </ion-button>
-->

            <ion-button *ngIf="((pageStream$ | async) && (authenticated$ | async))" icon-only (click)="go(Pages.Alert)" class="cpt-notifications" [disabled]="menuOpen$ | async">
                <ion-icon name="notifications" color="dark" size="large"></ion-icon>

                <ion-badge slot="end" *ngIf="hasUnread$ | async" color="secondary">{{ unread$ | async }}</ion-badge>

            </ion-button>

            <ion-button *ngIf="((pageAlerts$ | async) && (authenticated$ | async))" icon-only (click)="go(Pages.Stream)" [disabled]="menuOpen$ | async">
                <ion-icon name="md-paper" color="dark" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title color="dark">
          {{ ((pageAlerts$ | async) ? 'page.notifications.title' : 'page.stream.title') | translate}}
        </ion-title>

        <ion-buttons slot="end">
            <ion-button icon-only (click)="menuOpen()" [disabled]="menuOpen$ | async">
                <ion-icon name="person" color="dark" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<section fxLayout="column" fxLayoutAlign="center">
    <ion-router-outlet [animated]="false"></ion-router-outlet>
</section>
