@import 'variables';

$app-card-height: 48px;

:host-context(.ios) {
    ion-toolbar {
        ion-title {
            padding-top: 3px;
        }
    }
}

:host {
    --background: #{$app-color-grey-light};

    ion-toolbar {
        --padding-start: 1.25rem;
        --padding-end: 1.25rem;
    }

    ion-header {
        &.header-md::after {
            background-image: none;
        }
    }

    ion-toolbar {
        --background: #{$app-color-grey-light};
        --border-width: 0;

        ion-buttons {
          width: 100%;
        }
    }

    ion-slides {
        --background: #{$app-color-grey-light};
        --bullet-background: #{$app-color-black};
        --bullet-background-active: #{$app-color-dark};

        background-color: $app-color-grey-light;
        position: relative;
        width: 100%;
    }

    ion-slide {
        width: 100%;
        margin: 0;
        margin-top: 28px;
        margin-bottom: 28px;
    }

    ion-footer {
        ion-toolbar {
            padding-bottom: 1.375rem;
        }
    }

    section
    {
        position: relative;
        height: 100%;
        background-color: $app-color-grey-light;
    }
}
