@import "app-variables";

$app-card-height: 48px;

:host {
    ion-toolbar {
        --padding-start: 1.25rem;
        --padding-end: 1.25rem;
    }

    ion-header {
        &.header-md::after {
            background-image: none;
        }
    }

    ion-toolbar {
        --background: #{$app-color-primary};
        --border-width: 0;

        ion-buttons {
          width: 100%;
        }
    }

    ion-slides {
        --background: #{$app-color-primary};
        --bullet-background: #{$app-color-black};
        --bullet-background-active: #{$app-color-dark};

        background-color: $app-color-primary;
        width: 100%;
        height: calc(100% - 112px);

        position: absolute;
        top: 68px;
        left: 0;
    }

    ion-slide {
        width: 100%;
    }

    ion-footer {
        ion-toolbar {
            padding-bottom: 0.5rem;
        }
    }
}
