<ion-header>
    <ion-toolbar>
        <ion-title>{{'page.assets-icons.title' | translate}}</ion-title>

        <ion-buttons slot="start">
            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button icon-only (click)="menuOpen()" [disabled]="menuOpen$ | async">
              <ion-icon name="person" color="dark" size="large"></ion-icon>
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="found$ | async">
        <ion-row>
            <ion-col size="3" *ngFor="let icon of userIcons$ | async">
                <img class="cpt-icon" [src]="images[icon.bucketPath].small">
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-icon-message *ngIf="empty$ | async"
                      [icon]="IconType.Icons"
                      [message]="'page.icons.empty' | translate">
    </app-icon-message>

    <app-button-add (clicked)="navigate()"></app-button-add>
</ion-content>
