@use 'variables' as firefly;

ff-item-description {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.25rem;
}

ion-list {
    margin-bottom: 0;
}

.image-cnt {
  height: 167px;
  object-fit: cover;
  width: 100%;
  background-size: cover;
}

.cpt-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.cnt-image,
.cnt-name,
.cnt-tagline,
.cnt-description,
ff-button-action
{
  position: relative;
  display: flex;
  font-family: firefly.$fire-font-opensans;
}

.cnt-name
{
  font-family: firefly.$fire-font-americantypewriter;
  height: 26px;
  opacity: 0.7;
  font-size: 20px;
  color: #000000;
  margin-top: 20px;
}

.cnt-tagline
{
  font-family: firefly.$fire-font-playfair;
  font-weight: 600;
  margin-top: 8px;
  padding-left: 28px;
  padding-right: 28px;
  height: 21px;
  opacity: 0.54;
  font-size: 18px;
  color: #000000;
}

.cnt-description
{
  font-family: firefly.$fire-font-opensans;
  margin-top: 16px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 17px;
  color: #41464b;
}

.cnt-image{
  margin-top: 10%;
}

.name,
.tagline,
.description
{
  margin: auto;
}

.cpt-button
{
    position: relative;
    //top: 65%;
    //left: 30%;
    //width: auto;
    padding: 0;
    margin: auto;
    margin-top: 16px;
    text-transform: uppercase;
    background-color: firefly.$fire-color-primary;
    color: rgb(252, 253, 252);
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 900;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    letter-spacing: 1px;
}
