$ios-list-item-button-delete-width: 82px;
$ios-list-item-button-delete-height: 100%;
$ios-list-item-button-delete-color-background: #ff3b30;
$ios-list-item-button-delete-font-color: #ffffff;
$ios-list-item-button-delete-font-size: 18px;
$ios-list-item-button-delete-font-family: 'HelveticaNeue-Light';
