$ios-map-color-water: #a1d9f1;
$ios-map-color-land: #f9f5ed;
$ios-map-color-park: #b6dfa2;
$ios-map-color-airport: #ceb2da;
$ios-map-color-hospital: #fbcadd;
$ios-map-color-school: #ebdfc7;
$ios-map-color-traffic: #f7890a;
$ios-map-color-traffic-heavy: #e70c0a;
$ios-map-color-road-highway: #fadc00;
$ios-map-color-road-highway-border: #cd870f;
$ios-map-color-road-main: #fcfcdd;
$ios-map-color-road-main-border: #f4b33d;
$ios-map-color-road-secondary: #fbfaf9;
$ios-map-color-road-secondary-border: #ece8e3;
$ios-map-color-road-minor: #d1cec8;
$ios-map-color-font: #716e67;
$ios-map-color-font-park: #4e955b;
$ios-map-color-font-water: #2867ad;
$ios-map-color-font-annotation: #000000;
$ios-map-color-pin-red: #fb3a2f;
$ios-map-color-pin-purple: #c969e0;
$ios-map-color-pin-highlight: #ffffff;
$ios-map-color-pin-pole: #afb1b4;
$ios-map-color-pin-pole-border: #a5a7aa;
$ios-map-color-pin-hole: #474644;
$ios-map-color-annotation: #fefefe;
$ios-map-color-annotation-travel: #007aff;
$ios-map-color-annotation-arrow: #cacaca;
$ios-map-color-annotation-star-top: #f1630d;
$ios-map-color-annotation-star-bottom: #ffa931;
$ios-map-color-commercial-area: #f9e6ad;
$ios-map-color-business: #fbcadd;
$ios-map-color-orb: #057bfb;
$ios-map-color-orb-border: #fdfdfd;
$ios-map-color-orb-pulse: rgba(5, 123, 251, 0.5);
