@import 'variables';

:host {
    /*
    736px height
    */

    --background: #{$fire-color-transparent};

    position: relative;
    height: 100%;

    ::ng-deep ion-slides {
        --background: #{$fire-color-transparent};
        --bullet-background: #{$fire-color-white};
        --bullet-background-active: #{$fire-color-white};

        background-color: $fire-color-transparent;
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 8px;

        .swiper-pagination-bullet {
            opacity: 0.7;
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

    ion-slide {
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 44px;
        padding-bottom: 28px;
    }

    app-slide {
        height: 100%;
    }
}
