<form novalidate
      *ngIf="form$ | async"
      [formGroup]="form$ | async"
      ngxsForm="alerts.form">
</form>
<ion-slides *ngIf="didInit && ((eventType$ | async) === EventType.New) && (hasUnread$ | async)"
            #sliderRef
            pager="true"
            (ionSlideDidChange)="slideChanged()"
            [options]="slideOptions">
    <ion-slide #status *ngFor="let alert of unread$ | async">
        <app-slide [slide]="alert"
                   [buttonText]="'general.go' | translate"
                   (alertDeleteClicked)="alertDelete(alert)"
                   (alertGoClicked)="alertGo()"
                   (alertDetailClicked)="navigate(Pages.AlertDetail, alert)">
        </app-slide>
    </ion-slide>
</ion-slides>

<!--
<ion-fab [class.cpt-empty]="!(hasUnread$ | async)"
         vertical="bottom"
         horizontal="start">
    <ion-button *ngIf="hasUnread$ | async"
                (click)="navigate(Pages.AlertsList)"
                color="transparent">
        <ion-icon name="list" color="dark"></ion-icon>
    </ion-button>

    <ion-fab-button *ngIf="!(hasUnread$ | async)"
                    (click)="navigate(Pages.AlertsList)"
                    color="primary"
                    mode="md">
        <ion-icon name="list" color="dark"></ion-icon>
    </ion-fab-button>
</ion-fab>
-->
<app-icon-message *ngIf="!(hasUnread$ | async)"
                  slot="fixed"
                  [icon]="IconType.Alerts"
                  [message]="(emptyMessage$ | async) | translate">
</app-icon-message>

