<form novalidate
      *ngIf="form$ | async"
      [formGroup]="form$ | async"
      ngxsForm="alerts.form">
</form>
<ion-slides #sliderRef
           pager="true"
           (ionSlideDidChange)="slideChanged()"
           [options]="slideOptions">
    <ion-slide #status *ngFor="let alert of unread$ | async">
        <app-slide [slide]="alert" [buttonText]="'general.go' | translate" (alertDeleteClicked)="alertDelete(alert)" (alertGoClicked)="alertGo()" (alertDetailClicked)="navigate(Pages.AlertDetail, alert)"></app-slide>
    </ion-slide>
</ion-slides>
<ion-fab vertical="bottom" horizontal="start">
    <ion-button (click)="navigate(Pages.AlertsList)" color="transparent" mode="ios">
        <ion-icon name="list" color="dark"></ion-icon>
    </ion-button>
</ion-fab>

<app-icon-message *ngIf="!(hasUnread$ | async)"
                  slot="fixed"
                  [icon]="IconType.Alerts"
                  [message]="'page.alerts.empty' | translate">
</app-icon-message>

