.tn-button
{
    position: relative;
    display: block;
    border: none;
    background-color: transparent;
    line-height: $tn-line-height-none;
    text-align: center;
    vertical-align: middle;

    &.tn-delete
    {
        position: absolute;
        top: 0; right: 0;
        height: $ios-list-item-button-delete-height; width: $ios-list-item-button-delete-width;
        background-color: $tn-button-delete-color-background;
    }
}