<div class="tn-hours-list">
	<label class="item item-input" ng-repeat-start="time in times">
	    <span class="input-label" ng-bind="::dictionary.tnHoursStarts"></span>
	    <input type="time" ng-model="time.starts" min="time.startsMin" max="time.startsMax" ng-change="changeStart(time.starts, $index)">
	</label>

	<label class="item item-input">
	    <span class="input-label" ng-bind="::dictionary.tnHoursEnds"></span>
	    <input type="time" ng-model="time.ends" min="time.endsMin" max="time.endsMax" ng-change="changeEnd(time.ends, $index)">
	</label>

	<div class="item item-divider" ng-repeat-end></div>
</div>