$google-color:                          #DD4B39;

$google-button-color-background:        $google-color;
$google-button-icon-color-text:         $google-color;
$google-button-icon-content:            "\f0d5";

$google-button-icon-font-size:          $tn-provider-button-icon-font-size - 0.1;