<header
  id="home"
  class="tw-w-full tw-relative tw-h-full tw-flex tw-flex-col tw-h-screen tw-bg-fixed tw-bg-cover tw-custom-img tw-text-white tw-pl-20 tw-pt-16"
>
  <div class="cpt-nav-header tw-w-full tw-flex tw-flex-row">
    <ff-home-icon class="tw-flex-1"></ff-home-icon>
    <div class="tw-flex tw-flex-1 tw-w-full tw-justify-center">
      <ff-nav></ff-nav>
    </div>
  </div>
  <div
    class="cpt-nav--main tw-relative tw-h-full tw-w-full tw-flex tw-flex-row tw-justify-between"
  >
    <div
      class="cpt-header-section tw-flex tw-flex-1 tw-flex-col tw-grow tw-justify-end tw-gap-20 tw-pt-16 tw-pb-28"
    >
      <div
        class="cpt-heading tw-tracking-wide tw-leading-none tw-flex tw-flex-col tw-gap-2"
      >
        <h1 class="cpt-title tw-text-5xl">Firefly</h1>
        <h1 class="cpt-subtitle tw-text-4xl">Life comes to you</h1>
      </div>
      <div
        class="cpt-description tw-text-2xl tw-leading-tight tw-tracking-wide"
      >
        <p>
          Engaging your community through a fun and lightweight eventing app.
        </p>
      </div>
      <div
        class="cpt-app-stores tw-flex tw-flex-row tw-align-between tw-gap-16"
      >
        <tn-app-store-ios [url]="Link.AppStoreApple"></tn-app-store-ios>
        <!--
      <tn-app-store-google [url]="Link.AppStoreGoogle"></tn-app-store-google>
-->
      </div>
    </div>
    <div
      class="cpt-phone tw-flex-1 tw-h-full tw-flex tw-flex-col tw-justify-between tw-pt-16 tw-pb-28"
    >
      <div class="tw-w-full tw-flex tw-flex-row tw-justify-center">
        <tn-device-iphone
          url="/assets/images/device-iphone-screenshot.png"
        ></tn-device-iphone>
      </div>
    </div>
  </div>
</header>
<div
  id="features"
  class="tw-w-full tw-pt-20 tw-pb-20 tw-flex tw-flex-col tw-gap-20 tw-justify-between tw-items-center tw-pl-2 xxs:tw-pl-5 xs:tw-pl-10 lg:tw-pl-48 tw-pr-2 xxs:tw-pr-5 xs:tw-pr-10 lg:tw-pr-48"
>
  <div class="tw-text-5xl">Features</div>
  <div class="tw-w-full tw-flex tw-flex-row tw-justify-between">
    <div
      class="cpt-feature tw-flex tw-flex-col tw-gap-4 tw-items-center tw-w-16 xs:tw-w-24 sm:tw-w-52"
    >
      <img class="cpt-img tw-h16 xs:tw-h-32" src="/assets/icons/heart.svg" />
      <p
        class="cpt-desc tw-text-base xxs:tw-text-xl xs:tw-text-2xl tw-text-center"
      >
        Follow interests
      </p>
    </div>
    <div
      class="cpt-feature tw-flex tw-flex-col tw-gap-4 tw-items-center tw-w-16 xs:tw-w-24 sm:tw-w-52"
    >
      <img class="cpt-img tw-h16 xs:tw-h-32" src="/assets/icons/location.svg" />
      <p
        class="cpt-desc tw-text-base xxs:tw-text-xl xs:tw-text-2xl tw-text-center"
      >
        Find events in your area
      </p>
    </div>
    <div
      class="cpt-feature tw-flex tw-flex-col tw-gap-4 tw-items-center tw-w-16 xs:tw-w-24 sm:tw-w-52"
    >
      <img class="cpt-img tw-h16 xs:tw-h-32" src="/assets/icons/calendar.svg" />
      <p
        class="cpt-desc tw-text-base xxs:tw-text-xl xs:tw-text-2xl tw-text-center"
      >
        Add to calendar
      </p>
    </div>
    <div
      class="cpt-feature tw-flex tw-flex-col tw-gap-4 tw-items-center tw-w-16 xs:tw-w-24 sm:tw-w-52"
    >
      <img class="cpt-img tw-h16 xs:tw-h-32" src="/assets/icons/photos.svg" />
      <p
        class="cpt-desc tw-text-base xxs:tw-text-xl xs:tw-text-2xl tw-text-center"
      >
        Live your best life
      </p>
    </div>
  </div>
  <div class="cpt-app-stores tw-flex tw-flex-row tw-align-between tw-gap-16">
    <tn-app-store-ios></tn-app-store-ios>
    <!--
    <tn-app-store-google></tn-app-store-google>
-->
  </div>
</div>
<section
  id="privacy"
  class="tw-container tw-flex tw-items-center tw-justify-center tw-h-96 tw-m-auto tw-bg-fixed tw-bg-cover tw-rounded-xl tw-custom-img"
>
  <a href="/assets/docs/Theory Network LLC - Online Privacy Policy.pdf">
    <div
      class="tw-p-5 tw-text-2xl tw-text-white tw-backdrop-blur tw-bg-white/30 tw-rounded"
    >
      Privacy Policy
    </div>
  </a>
</section>

<section
  id="support"
  class="cpt-support tw-relative tw-w-full tw-pt-20 tw-flex tw-flex-col tw-items-center tw-gap-8"
>
  <div class="tw-text-5xl">Support</div>
  <p class="tw-relative tw-block tw-text-2xl tw-leading-8 tw-pl-60 tw-pr-60">
    Send all your inquiries, feedback, and questions regarding app issues and
    feature enhancement requests to:
    <a
      href="mailto:support@theorynetwork.com"
      class="cpt-email tw-tracking-wide tw-pb-6 tw-text-gray-400 tw-pl-2"
    >
      support@theorynetwork.com
    </a>
  </p>
</section>

<section
  class="cpt-footer tw-relative tw-w-full tw-pt-20 tw-flex tw-flex-col tw-items-center"
>
  <ff-home-icon [link]="true"></ff-home-icon>
  <ff-nav class="tw-text-black"></ff-nav>
  <div
    class="cpt-copyright tw-text-xl tw-tracking-wide tw-pb-6 tw-text-gray-400"
  >
    Copyright {{ year }} Theory Network LLC. All Rights Reserved.
  </div>
</section>
