@use 'variables' as firefly;

:host {
  .tw-custom-img {
    background-image: url('/assets/backgrounds/shutterstock-204731431-1920x1285.jpg');
  }

  .cpt-title {
    font-family: firefly.$font-source-sans-pro-light-italic;
  }

  .cpt-support-title,
  .cpt-description,
  .cpt-subtitle {
    font-family: firefly.$font-source-sans-pro-regular;
  }

  .cpt-email,
  .cpt-copyright {
    font-family: firefly.$font-source-sans-pro-semi-bold;
  }
}
