<ion-header>
    <ion-toolbar>
        <ion-title>{{'page.subscriptions.title' | translate}}</ion-title>

        <ion-buttons slot="start">

            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button icon-only (click)="menuOpen()" [disabled]="menuOpen$ | async">
                <ion-icon name="person" color="dark" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list lines="none" elevation="1">
    <ion-item *ngFor="let subscription of subscriptions$ | async">
        <ion-avatar (click)="select(subscription)" slot="start">
            <img *ngIf="images[subscription.bucketPath]" [src]="images[subscription.bucketPath].small">
        </ion-avatar>

        <ion-label (click)="select(subscription)">
            <h2>{{subscription.name}}</h2>
            <p>{{subscription.tagline}}</p>
            <p>{{subscription.on}}</p>
        </ion-label>

        <ion-toggle (ionChange)="toggle($event,subscription)" checked={{subscription.on}}  color="success"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
