<ion-header>
    <ion-toolbar>
        <ion-title>{{'page.subscriptions.title' | translate}}</ion-title>

        <ion-buttons slot="start">

            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button icon-only (click)="menuOpen()" [disabled]="menuOpen$ | async">
                <ion-icon name="person" color="dark" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
