@use 'variables' as firefly;

ff-item-description {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.25rem;
}

ion-list {
    margin-bottom: 0;
}

.invalid {
  border: 1px solid firefly.$fire-color-accent-light;
}
