app-page-cluster-locations-add
{
    .searchbar
    {
        border: 0;
    }

    .page-list
    {
        margin: $app-gutter / 2;
        margin-top: 0;
        opacity: 0.85;

        > .item
        {
            cursor: pointer;
            padding-left: 4px;

            > ion-icon[item-start]
            {
                margin-right: 0;
                color: $app-color-accent;
                opacity: 0.5;

                + .item-inner
                {
                    margin-left: 3px;
                }
            }


            &:first-child
            {
                border-top-left-radius: $app-border-radius;
                border-top-right-radius: $app-border-radius;
            }

            &:last-child
            {
                border-bottom-left-radius: $app-border-radius;
                border-bottom-right-radius: $app-border-radius;
            }
        }
    }
}
