<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button (click)="dismissModal()">{{'general.done' | translate}}</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="app-transparent" (click)="dismissModalWithCheck()">
    <ion-searchbar (ionInput)="filter($event)" #searchBar (click)="clickedSearch()"></ion-searchbar>
    <!--
    <ion-list (click)="clickedSearch()">
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>
    -->
</ion-content>
