<ion-header>
    <ion-toolbar color='white'>
        <ion-title>{{'page.assets-icon.title' | translate}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form novalidate
          [formGroup]="form$ | async"
          ngxsForm="icon.form">
        <app-item-header [form]="form$ | async"
                         [iconUrl]="url$ | async"
                         title="name"
                         [iconOnly]="true"
                         [titlePlaceholder]="'page.assets-icon.namePlaceholder' | translate"
                         subtitle="description"
                         [subtitlePlaceholder]="'page.assets-icon.descriptionPlaceholder' | translate"
                         [iconPlaceholder]="'page.assets-icon.iconPlaceholder' | translate"
                         iconUrlEmpty="assets/icons/avatar-empty.svg"
                         (iconClicked)="navigate(Pages.IconSelector)">
        </app-item-header>
    </form>
</ion-content>
