$ios-8-list-item-button-delete-width:                   8.2rem;
$ios-8-list-item-button-delete-height:                  100%;
$ios-8-list-item-button-delete-color-background:        #FF3B30;
$ios-8-list-item-button-delete-font-color:              #FFFFFF;
$ios-8-list-item-button-delete-font-size:               1.8rem;
$ios-8-list-item-button-delete-font-family:             $tn-font-family-helvetica-neue-light;