<ion-header>
    <ion-toolbar elevation="2" color="dark">
        <ion-segment (ionChange)="segmentChanged($event)" color="primary" value="assets">
            <ion-segment-button value="assets" checked>
                <ion-label>{{'tabs.settings.assets' | translate}}</ion-label>
            </ion-segment-button>

            <ion-segment-button value="profile">
                <ion-label>{{'tabs.settings.profile' | translate}}</ion-label>
            </ion-segment-button>
        </ion-segment>

        <ion-buttons slot="primary">
            <ion-button color="primary" (click)="dismiss()">{{'general.done' | translate}}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="segment">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="segment === 'assets'">
        <ion-fab-button color="secondary" mode="md">
            <ion-icon name="md-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <app-page-publisher-assets *ngSwitchCase="'assets'"></app-page-publisher-assets>
    <app-page-user-profile *ngSwitchCase="'profile'"></app-page-user-profile>
</ion-content>
