@import 'variables';

:host
{
    ion-content {
        --background: #{$fire-color-transparent};
    }

    ion-list {
        --background: #{$fire-color-transparent};
        background: #{$fire-color-transparent};
        margin-bottom: 0;
    }

    ion-item {
        --padding-start: 8px;
        --background: #{$fire-color-transparent};
        --border-color: #333;

        &:last-child {
            ion-card {
                margin-bottom: 24px;
            }
        }
    }

    ion-card {
        --background: #{$fire-color-white};
        font-family: $fire-font-markerfelt;
        width: 100%;
        margin-bottom: 2px;
    }

    ion-card-content {
        padding-top: 0px;
        padding-bottom: 5px;
    }

    ion-icon {
      font-size: 30px;
      padding-right: 5px;
  }

    app-icon-subscribe {
        margin-bottom: 5px;
    }

    .image-cnt {
      height: 167px;
      object-fit: cover;
    }

    .app-description {
        font-family: serif;
        font-size: 14px;
    }

    .tagline,
    .name,
    .app-description {
        text-align: center;
    }

    .tagline {
        font-size: 20px;
        font-family: $fire-font-americantypewriter;
    }

    .name {
        font-size: 25px;
        font-family: $fire-font-americantypewriter;
    }


    ::ng-deep .mat-expansion-panel-body{
        padding: 0px 0px 5px 0px !important;
    }

    .mat-expansion-panel-header-title {
        flex: 0 0 auto; /* make this not grow or shrink */
        margin-right: 16px;
    }

    .mat-expansion-panel-header-description {
        flex: 1 1 auto; /* make this grow and shrink */
        min-width: 0; /* see link to see why this is needed */
        margin-right: 16px;
    }

    .mat-expansion-panel-header-description > div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .spinner {
      display: block;
      margin: auto;
    }

    .outer-wrapper {
      display: flex;
      flex-direction: column;
      margin: 10px 0 10px 0px;
    }
    .wrapper {
      display: flex;
      width: 100%;
      height: 140px;
    }

    .wrapper div{
      flex-basis: 100%;
      font-family: $fire-font-markerfelt;
    }

    .eventWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: serif;
    }

    .eventInfo {
      font-family: serif;
    }

    .dateTimeWrapper {
      width: 200px;
    }

    .date {
      font-family: serif;
    }

    .time {
      font-family: serif;
      font-size: 20px;
    }

    hr {
      margin-bottom: -5px;
      background-color: #b3b2b2;
    }
}
