<ion-content>
  <ion-list *ngIf="images && (found$ | async)">
    <ion-item lines="none" *ngFor="let interest of stream$ | async; let i = index">
        <ion-card *ngIf="images[interest.bucketPath]" elevation="1">
            <img class="image-cnt" [src]="images[interest.bucketPath].medium">

            <ion-card-header>
              <ion-card-title class="name">|{{ interest.name }}|</ion-card-title>
              <ion-card-subtitle class="tagline">{{ interest.tagline }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content fxLayout="column"
                              fxLayoutGap="10px">
                <mat-accordion>
                  <mat-expansion-panel  (opened)="setOpened(i, interest)"
                  (closed)="setClosed(i)"  class="mat-elevation-z0" class="mat-elevation-z0">
                    <mat-expansion-panel-header [expandedHeight]="'0px'" [collapsedHeight]="'20px'">
                      <mat-panel-description  class="mat-expansion-panel-header-description">
                      <!--span class="app-description"-->
                        <div *ngIf="!currentlyOpenedItems[i]" class="app-description">{{ interest.description }} | {{ currentlyOpenedItemIndex === i ? 'Close' : 'Open' }}</div>
                      <!--/!--span-->
                    </mat-panel-description>
                    </mat-expansion-panel-header>
                    <span class="app-description">
                      {{ interest.description }}
                      <ion-spinner class="spinner" *ngIf="spinner[i]" name="crescent"></ion-spinner>
                      <ion-list *ngFor="let event of interestEvents[i]">
                        <ion-item (click)="select(event)">
                          <ion-grid>
                            <ion-row>
                              <ion-col class="ion-align-self-center" size=3>
                                <div>
                                  <ion-avatar class="avatar" slot="start">
                                    <img *ngIf="images[event.bucketPath]" [src]="images[event.bucketPath].small">
                                  </ion-avatar>
                                </div>
                              </ion-col>
                              <ion-col size=9>
                                <ion-row>
                                  <ion-col class="ion-align-self-center">
                                    <div class="eventWrapper">
                                      <div class="eventInfo">
                                        <h2>{{ event.name }}</h2>
                                        <p>{{ event.tagline }}</p>
                                        <hr  size="1" noshade>
                                      </div>
                                      <hr>
                                    </div>
                                  </ion-col>
                                </ion-row>
                                <ion-row>
                                  <ion-col>
                                    <div class="dateTimeOuterWrapper">
                                      <div class="dateTimeWrapper">
                                        <ion-label class="date">
                                          {{ event.metadata.timeStartFormattedShort }}
                                        </ion-label>
                                        <ion-label  class="time" position="stacked">
                                            {{ event.metadata.timeStartDate | date:'shortTime' }}
                                        </ion-label>
                                      </div>
                                    </div>
                                  </ion-col>
                                </ion-row>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item>
                      </ion-list>
                    </span>
                  </mat-expansion-panel>
                </mat-accordion>
                <app-icon-subscribe [subscribed]="interest.on != null"
                                    [count]="interest.subscriberCount + (interest.on != null ? 1 : 0)"
                                    (clicked)="toggle($event, interest)">
                </app-icon-subscribe>
            </ion-card-content>
          </ion-card>
    </ion-item>
  </ion-list>

    <app-icon-message *ngIf="empty$ | async"
                      slot="fixed"
                      [icon]="IconType.Stream"
                      [message]="'page.stream.empty' | translate">
    </app-icon-message>
</ion-content>
