<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let cluster of stream$ | async">
        <ion-card>
            <app-item-header [iconUrl]="cluster.iconId"
                             [title]="cluster.name"
                             [subtitle]="cluster.tagline">
            </app-item-header>

            <ion-card-content fxLayout="column"
                              fxLayoutGap="10px">
                <span>
                    {{ cluster.description }}
                </span>

                <app-icon-subscribe [subscribed]="cluster.subscribed"
                                    [count]="cluster.subscribedCount"
                                    (clicked)="toggle($event, cluster)">
                </app-icon-subscribe>
            </ion-card-content>
        </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
