@import "app-variables";

:host
{
    ion-content {
        --background: #{$app-color-grey-light};
    }

    ion-list {
        --ion-item-background: #{$app-color-grey-light};
        margin-bottom: 0;
    }
}
