<ion-content>
  <ion-list *ngIf="images">
    <ion-item lines="none" *ngFor="let cluster of stream$ | async">
        <ion-card *ngIf="images[cluster.bucketPath]" elevation="1">
            <app-item-header [iconUrl]="images[cluster.bucketPath].medium"
                             [title]="cluster.name"
                             [subtitle]="cluster.tagline">
            </app-item-header>

            <ion-card-content fxLayout="column"
                              fxLayoutGap="10px">
                <span class="app-description">
                    {{ cluster.description }}
                </span>

                <app-icon-subscribe [subscribed]="cluster.subscribed"
                                    [count]="cluster.subscriberCount + (cluster.on ? 1 : 0)"
                                    (clicked)="toggle($event, cluster)">
                </app-icon-subscribe>
            </ion-card-content>
          </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
