@import 'variables';

:host
{
    ion-content {
        --background: #{$fire-color-dark-lighter};
        height: 100%;
    }

    section {
        height: 100%;
    }

    .cpt-interests
    {
        margin-top: 5px;
    }

    ion-col {
        width: 90px;
    }
}
