<ion-header color="white">
    <ion-toolbar >
        <ion-title>
            {{ ((isNew$ | async) ? 'page.event.title.edit.new' : 'page.event.title.edit') | translate }}
        </ion-title>

        <ion-buttons slot="start">
            <ion-back-button *ngIf="!modal" color="dark"></ion-back-button>
            <ion-button *ngIf="modal" color="dark" (click)="cancel()">
                {{ 'general.cancel' | translate }}
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button *ngIf="canAccept$ | async"
                        (click)="acceptEvent()"
                        icon-only>
                <ion-icon color="dark" name="checkmark-outline"></ion-icon>
            </ion-button>

            <ion-button *ngIf="canAccept$ | async"
                        (click)="denyEvent()"
                        icon-only>
                <ion-icon color="dark" name="close-outline"></ion-icon>
            </ion-button>

            <ion-button *ngIf="canDeleteShow$ | async"
                        [disabled]="!(canDelete$ | async)"
                        (click)="delete()"
                        icon-only>
                <ion-icon name="trash" color="dark" size="large"></ion-icon>
            </ion-button>

            <ion-button *ngIf="canEditShow$ | async"
                        [disabled]="!(canEdit$ | async)"
                        color="dark"
                        (click)="save()">
                {{ ((isNew$ | async) ? 'general.publish' : 'general.update') | translate }}
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form novalidate
          *ngIf="form$ | async"
          [formGroup]="form$ | async"
          ngxsForm="events.form">

        <app-item-image [url]="image$ | async"
                        [form]="form$ | async"
                        [placeholder]="'page.event.imagePlaceholder' | translate"
                        [title]="'page.event.imageTitlePlaceholder' | translate"
                        [edit]="true"
                        (clicked)="selectImage()">
        </app-item-image>

        <ion-item>
          <ion-input  [class.invalid]="!(form$ | async).controls.name.valid && (form$ | async).controls.name.dirty"
                      type="text"
                      inputmode="text"
                      formControlName="name"
                      [placeholder]="'page.event.titlePlaceholder' | translate">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input  [class.invalid]="!(form$ | async).controls.tagline.valid && (form$ | async).controls.tagline.dirty"
                      type="text"
                      inputmode="text"
                      formControlName="tagline"
                      [placeholder]="'page.event.subtitlePlaceholder' | translate">
          </ion-input>
        </ion-item>

        <app-item-map [place]="place$ | async"
                      [title]="'general.location' | translate"
                      (click)="navigate(Pages.EventLocation)">
        </app-item-map>

        <div class="cpt-detail" fxLayout="column">
            <ion-list>
                <ion-item-group>
                    <ion-item-divider></ion-item-divider>

                    <ion-item>
                        <ion-label>{{ 'general.starts' | translate }}</ion-label>
                        <ion-datetime name="start"
                                      [min]="now"
                                      [max]="'date-time.maxDate' | translate"
                                      [disabled]="timeIsLocked$ | async"
                                      [value]="timeStart$ | async | timestamp:'isoString'"
                                      [displayFormat]="'date-time.displayFormat' | translate"
                                      [pickerFormat]="'date-time.pickerFormat' | translate"
                                      [cancelText]="'general.cancel' |  translate"
                                      [doneText]="'general.done' | translate"
                                      (ionChange)="timeChanged($event, 'timeStart')">
                        </ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label>{{ 'general.ends' |  translate }}</ion-label>
                        <ion-datetime name="end"
                                      [min]="now"
                                      [max]="'date-time.maxDate' | translate"
                                      [disabled]="timeIsLocked$ | async"
                                      [value]="timeEnd$ | async | timestamp:'isoString'"
                                      [displayFormat]="'date-time.displayFormat' | translate"
                                      [pickerFormat]="'date-time.pickerFormat' | translate"
                                      [cancelText]="'general.cancel' |  translate"
                                      [doneText]="'general.done' | translate"
                                      (ionChange)="timeChanged($event, 'timeEnd')"
                                      [class.cpt-invalid]="!(timeEndValid$ | async)">
                        </ion-datetime>
                    </ion-item>

                    <ion-item>
                        <ion-label>{{ 'page.event.timeNotify' | translate }}</ion-label>
                        <ion-datetime name="notify"
                                      [min]="now"
                                      [max]="'date-time.maxDate' | translate"
                                      [disabled]="timeIsLocked$ | async"
                                      [value]="timeNotify$ | async | timestamp:'isoString'"
                                      [displayFormat]="'date-time.displayFormat' | translate"
                                      [pickerFormat]="'date-time.pickerFormatHourly' | translate"
                                      [cancelText]="'general.cancel' | translate"
                                      [doneText]="'general.done' | translate"
                                      (ionChange)="timeChanged($event, 'timeNotify')"
                                      [class.cpt-invalid]="!(timeNotifyValid$ | async)">
                        </ion-datetime>
                    </ion-item>

                    <ion-item-divider></ion-item-divider>

                    <ion-item>
                        <ion-icon [name]="(private$ | async) ? 'lock-closed' : 'lock-open'" slot="start" color="grey"></ion-icon>
                        <ion-label>{{ 'general.isPrivate' | translate }}</ion-label>
                        <ion-toggle formControlName="private" color="primary"></ion-toggle>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="cloud" slot="start" color="grey"></ion-icon>
                        <ion-label>{{ 'general.isVirtual' | translate }}</ion-label>
                        <ion-toggle (ionChange)="virtualChanged($event)" formControlName="virtual" color="primary"></ion-toggle>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="link" slot="start" color="grey"></ion-icon>
                        <ion-label>{{ 'general.website' | translate }} </ion-label>
                        <ion-input type="url"
                                   inputmode="url"
                                   formControlName="website">
                        </ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-icon name="call" slot="start" color="grey"></ion-icon>
                        <ion-label>{{ 'general.phone' | translate }}</ion-label>
                        <ion-input type="tel"
                                   inputmode="tel"
                                   formControlName="phone">
                        </ion-input>
                    </ion-item>

                    <app-item-description [form]="form$ | async"
                                          [class.invalid]="!(form$ | async).controls.description.valid && (form$ | async).controls.description.dirty"
                                          [title]="'general.description' | translate"
                                          description="description"
                                          [descriptionPlaceholder]="'page.event.descriptionPlaceholder' | translate">
                    </app-item-description>

                    <ion-item-divider></ion-item-divider>
                </ion-item-group>
            </ion-list>
        </div>
    </form>
</ion-content>
