<ion-header>
  <ion-toolbar>
      <ion-title color="dark">
          {{ 'page.assets-events.title' | translate}}
      </ion-title>

      <ion-buttons slot="start">

          <ion-back-button *ngIf="!modal" color="dark"></ion-back-button>

          <ion-button *ngIf="modal" color="dark" (click)="cancel()">
              {{ 'general.cancel' | translate }}
          </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button icon-only (click)="menuOpen()" [disabled]="menuOpen$ | async">
            <ion-icon name="person" color="dark" size="large"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let event of events$ | async">
    <ion-item-divider *ngIf="event.metadata.timeStartFormatted">
        <ion-label>
            {{ event.metadata.timeStartFormatted }}
        </ion-label>
    </ion-item-divider>

    <ion-item (click)="select(event)">
        <ion-avatar slot="start">
          <img *ngIf="images[event.bucketPath]" [src]="images[event.bucketPath].small">
        </ion-avatar>
        <ion-label>
            {{ event.metadata.timeStartDate | date:'shortTime' }}
        </ion-label>
        <ion-label>
            <h2>{{ event.name }}</h2>
            <p>{{ event.tagline }}</p>
        </ion-label>
    </ion-item>
  </ion-list>

    <app-icon-message *ngIf="empty$ | async"
                      slot="fixed"
                      [icon]="IconType.Events"
                      [message]="'page.events.empty' | translate">
    </app-icon-message>

    <app-button-add (clicked)="add()" slot="fixed"></app-button-add>
</ion-content>
