$tn-rating-icon-size:                       3.6rem;
$tn-rating-icon-color-border:               #030303;
$tn-rating-icon-color-border-inactive:      rgba(190, 199, 195, 1.0);
$tn-rating-icon-color-fill:                 #80D623;