tn-rating
{
    cursor: pointer;

    ion-icon
    {
        &:before
        {
            font-size: $tn-rating-icon-size;
            line-height: $tn-rating-icon-size;
        }

        &.tn-star
        {
            &:before
            {
                color: $ff-color-primary;
            }

            + .tn-star-outline
            {
                margin-left: -$tn-rating-icon-size - 0.2rem;
            }
        }

        &.tn-star-half
        {
            &:before
            {
                color: $ff-color-primary;
            }

            + .tn-star-outline
            {
                margin-left: -$tn-rating-icon-size - 0.2rem;
            }
        }

        &.tn-star-outline
        {
            &:before
            {
                color: $tn-rating-icon-color-border-inactive;
            }
        }
    }

    .tn-count
    {
        display: inline-block;
        height: 100%;
        line-height: 100%;
        vertical-align: middle;
    }

    &.tn-active
    {
        ion-icon
        {
            &.tn-star-outline
            {
                &:before
                {
                    color: $tn-rating-icon-color-border;
                }
            }
        }
    }
}