@use 'variables' as firefly;

@font-face {
  font-family: firefly.$fire-font-awesome;
  src: url(../../assets/fonts/font-awesome/font-awesome.ttf);
}

@font-face {
  font-family: firefly.$fire-font-firefly;
  src: url(../../assets/fonts/firefly/firefly.ttf);
}

@font-face {
  font-family: firefly.$fire-font-americantypewriter;
  src: url(../../assets/fonts/american-typewriter/american-typewriter-400.ttf);
}

@font-face {
  font-family: firefly.$fire-font-markerfelt;
  src: url(../../assets/fonts/marker-felt/marker-felt.ttf);
}

@font-face {
  font-family: firefly.$fire-font-arialnarrow;
  src: url(../../assets/fonts/arial-narrow/arial-narrow.ttf);
}
