@import 'variables';

$app-auth-margin-elements-subgroup:          8px;

$app-auth-button-login-height:               $app-input-directive-height;
$app-auth-button-login-width:                100%;
$app-auth-button-login-color-background:     $app-color-primary;
$app-auth-button-login-color-text:           $app-color-grey-dark;
$app-auth-button-login-font-family:          $app-font-helvetica-neue;
$app-auth-button-login-font-size:            $app-font-size-small;
$app-auth-button-login-text-shadow:          $app-box-shadow-light-background;

$app-auth-input-color-background:            $app-color-white;
$app-auth-input-color-text:                  $app-color-text-white-background;
$app-auth-input-color-icon:                  $app-color-grey-lighter;
$app-auth-input-login-height:                $app-auth-button-login-height;
$app-auth-input-login-width:                 $app-auth-button-login-width;
$app-auth-input-font-family:                 $app-font-helvetica-neue;
$app-auth-input-font-size:                   $app-font-size-small;
$app-auth-input-line-height:                 $tn-line-height;

$app-auth-input-divider-color:               $app-color-grey-light;
$app-auth-input-divider-height:              1px;
$app-auth-input-divider-width:               $app-auth-input-login-width;

$app-auth-divider-color:                     $app-color-grey-lightest;
$app-auth-divider-height:                    1px;
$app-auth-divider-width:                     47px;
$app-auth-divider-margin:                    21px;
$app-auth-divider-line-height:               $tn-line-height-none;
$app-auth-divider-font-family:               $app-font-base;
$app-auth-divider-font-size:                 9px;

$app-auth-color-background:                  $app-color-dark;

$app-auth-app-title-font-family:             $app-font-base;
$app-auth-app-title-font-size:               52px;
$app-auth-app-title-letter-spacing:          15px;
$app-auth-app-title-line-height:             $tn-line-height-none;
$app-auth-app-title-height:                  76%;
$app-auth-app-title-width:                   76%;
$app-auth-app-title-height-login:            23px;
$app-auth-app-title-width-login:             176px;
$app-auth-app-title-scale-login:             0.71255060728745;
$app-auth-app-title-translate-login:         -($app-auth-input-login-height + 0.2);

$app-auth-logo-height-login:                 31px;
$app-auth-logo-width-login:                  $app-auth-logo-height-login;
$app-auth-logo-scale:                        0.54385964912281;

$app-auth-tagline-color:                     $app-color-white;
$app-auth-tagline-width:                     $app-auth-app-title-width;
$app-auth-tagline-width-login:               $app-auth-app-title-width-login;
$app-auth-tagline-text-shadow:               $app-text-shadow-dark-background;
$app-auth-tagline-font-family:               $app-font-helvetica-neue-light;
$app-auth-tagline-font-size:                 $app-font-size-small;
$app-auth-tagline-line-height:               $tn-line-height-none;
$app-auth-tagline-letter-spacing:            1px;

$app-auth-container-title-height:            68px;
$app-auth-container-auth-height:             408px;
$app-auth-container-translate:               ($app-auth-container-auth-height - $app-auth-container-title-height) / 2;

$app-auth-item-color-light:                  $app-color-white;
$app-auth-item-color-dark:                   $app-color-black;

$app-auth-footer-width:                      100%;
$app-auth-footer-color-text:                 $app-color-white;
$app-auth-footer-font-family:                $app-font-base;
$app-auth-footer-font-size:                  $app-font-size-tiny;

$app-auth-footer-item-line-height:           $tn-line-height-none;
$app-auth-footer-item-text-shadow:           $app-box-shadow-dark-background;

:host
{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tn-ico:before
{
    display: block;
    //position: absolute;
    top: 0; left: 0;
    padding-left: 20px;
    padding-right: 10px;
    font-size: $app-icon-font-size;
}

.tn-input-container
{
    position: relative;
    display: block;

    &:after
    {
        display: none;
        position: absolute;
        top: 0; right: 0;
        font-family: $app-input-icon-font-family;
        font-size: $app-input-icon-font-size;
        line-height: $app-input-icon-line-height;
    }

    &.tn-input-status-verified
    {
        &:after
        {
            display: block;
            content: $app-input-icon-verified;
            color: $app-input-icon-verified-color;
            right: -($app-input-icon-verified-margin);
        }

        &.tn-input-icon-rounded:after
        {
            content: $app-input-icon-verified-round;
        }
    }

    &.tn-input-status-error
    {
        &:after
        {
            display: block;
            content: $app-input-icon-error;
            color: $app-input-icon-error-color;
            right: -($app-input-icon-error-margin);
        }

        &.tn-input-icon-rounded:after
        {
            content: $app-input-icon-error-round;
        }
    }

    > .spinner-crescent
    {
        display: block;
        position: absolute;
        top: $app-input-spinner-margin; right: -($app-input-spinner-margin-right);
    }

    > .tn-input-clear
    {
        &:after
        {
            display: block;
            position: absolute;
            top: 0; right: $app-input-spinner-margin;
            font-family: $app-input-icon-font-family;
            font-size: $app-input-icon-font-size;
            line-height: $app-input-icon-line-height;
            content: $app-input-icon-clear;
            color: $app-input-icon-clear-color;
        }
    }
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
{
    &.tn-input
    {
        position: relative;
        display: block;
        border: none;
        background-color: $app-color-transparent;
        line-height: $app-input-line-height;
    }
}

.tn-animate
{
    transition-timing-function: linear;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    perspective: 1000;
    transition-property: none;

    &.tn-align-items
    {
        transition-duration: $app-transition-duration-move;
        transition-property: align-items;
    }

    &.tn-justify-content
    {
        transition-duration: $app-transition-duration-move;
        transition-property: justify-content;

        &.tn-align-items
        {
            transition-duration: $app-transition-duration-move;
            transition-property: justify-content, align-items;
        }
    }

    &.tn-margin
    {
        transition-duration: $app-transition-duration-move;
        transition-property: margin;
    }

    &.tn-transform
    {
        transition-duration: $app-transition-duration-move;
        transition-property: transform;
    }

    &.tn-opacity
    {
        transition-duration: $app-transition-duration-move;
        transition-property: opacity;

        &.tn-transform
        {
            transition-duration: $app-transition-duration-move;
            transition-property: opacity, transform;
        }
    }

    &.tn-dimensions
    {
        transition-duration: $app-transition-duration-move;
        transition-property: height, width;

        &.tn-margin
        {
            transition-property: height, width, margin;

            &.tn-opacity
            {
                transition-property: height, width, margin, opacity;
            }
        }

        &.tn-opacity
        {
            transition-property: height, width, opacity;
        }
    }

    &.tn-height
    {
        transition-duration: $app-transition-duration-move;
        transition-property: height;

        &.tn-margin
        {
            transition-property: height, margin;

            &.tn-opacity
            {
                transition-property: height, margin, opacity;
            }
        }

        &.tn-opacity
        {
            transition-property: height, opacity;
        }
    }

    &.tn-width
    {
        transition-duration: $app-transition-duration-move;
        transition-property: width;

        &.tn-margin
        {
            transition-property: width, margin;

            &.tn-opacity
            {
                transition-property: width, margin, opacity;
            }
        }

        &.tn-opacity
        {
            transition-property: width, opacity;
        }
    }
}


.tn-container
{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;

    &.tn-fill
    {
        height: 100%;
        width: 100%;
    }
}

.tn-container-reset
{
    position: relative;
    flex: none;
    display: flex;
}

.tn-provider
{
    &.tn-button
    {
        color: $app-provider-button-color-text;
        font-size: $app-provider-button-font-size;
        font-family: $app-provider-button-font-family;
        text-shadow: $app-provider-button-text-shadow;

        .tn-item
        {
            position: relative;
            display: inline-block;
            line-height: $tn-line-height-none;
            padding-left: $app-provider-button-icon-width-with-margin;

            &:before
            {
                box-sizing: border-box;
                display: block;
                position: absolute;
                top: -3px; left: 4px;
                height: $app-provider-button-icon-height; width: $app-provider-button-icon-width;
                font-family: $app-provider-button-icon-font-family;
                font-size: $app-provider-button-icon-font-size;
                border-radius: $app-provider-button-icon-border-radius;
                background-color: $app-provider-button-icon-color-background;
                text-shadow: none;
                text-align: center;
            }
        }
    }
}

.tn-button
{
    position: relative;
    display: block;
    border: none;
    background-color: $app-color-transparent;
    line-height: $tn-line-height-none;
    text-align: center;

    &.tn-delete
    {
        position: absolute;
        top: 0; right: 0;
        height: $app-button-delete-height; width: $app-button-delete-width;
        background-color: $app-button-delete-color-background;
    }
}

.button.tn-button
{
    text-transform: none;
    margin: 0;
}

.cpt-container
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $app-auth-color-background;

    > .tn-container
    {
        transform: translate3d(0, 50%, 0);
    }

    > .cpt-container-app-title
    {
        margin-top: -35px; margin-left: -1px;

        > .tn-align-item
        {
            position: relative;
            height: $app-auth-container-title-height;
            margin-left: 3px; margin-top: -10px;

            > .cpt-container-logo
            {
                position: relative;
            }
        }
    }
> .form-login
{
    > .cpt-container-auth
    {
        position: relative;
        width: 100%;
        //opacity: 0;
        padding: 0 38px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        > .cpt-auth-email
        {
            position: relative;
            width: 100%;

            > .cpt-container-inputs
            {
                margin-bottom: $app-auth-margin-elements-subgroup;
                background-color: $app-auth-input-color-background;
                border-radius: $app-button-border-radius;
                box-shadow: $app-box-shadow-dark-background;

                .fa-envelope-o
                {
                    padding-top: 1px;
                    width: 100%;
                }

                .fa-lock
                {
                    padding-top: 1px;
                    width: 100%;
                }

                > .cpt-divider
                {
                    height: $app-auth-input-divider-height; width: $app-auth-input-divider-width;
                    background-color: $app-auth-input-divider-color;
                }
            }

            > .tn-button
            {
                background-color: $app-auth-button-login-color-background;
                color: $app-auth-button-login-color-text;
                font-family: $app-auth-button-login-font-family;
                font-size: $app-auth-button-login-font-size;
                text-shadow: $app-auth-button-login-text-shadow;
            }
        }

        > .cpt-divider
        {
            position: relative;
            color: $app-auth-item-color-light;
            margin: 32px 0;
            text-align: center;
            line-height: $app-auth-divider-line-height;
            font-family: $app-auth-divider-font-family;
            font-size: $app-auth-divider-font-size;
            text-transform: uppercase;

            > .tn-align-item
            {
                position: relative;
                display: block;

                &:before,
                &:after
                {
                    position: absolute;
                    display: inline-block;
                    top: 4px;
                    content: '';
                    height: $app-auth-divider-height; width: $app-auth-divider-width;
                    background-color: $app-auth-divider-color;
                }

                &:before
                {
                    left: $app-auth-divider-margin;
                }

                &:after
                {
                    right: $app-auth-divider-margin;
                }
            }
        }

        > .cpt-buttons
        {
            position: relative;
            width: 100%;
            margin-bottom: 42px;

            display: flex;
            flex-direction: column;

            > .tn-button
            {
                margin-bottom: 8px;

                &:last-child
                {
                    margin-bottom: 0;
                }
            }
        }

        > .cpt-footer
        {
            position: relative;
            width: $app-auth-footer-width;
            margin-top: 30px; margin-bottom: 38px;
            color: $app-auth-footer-color-text;
            font-family: $app-auth-footer-font-family;
            font-size: $app-auth-footer-font-size;

            .cpt-underline
            {
                text-decoration: underline;
            }

            > .cpt-item
            {
                height: $app-auth-footer-item-line-height;
            }

            .cpt-item
            {
                position: relative;
                line-height: $app-auth-footer-item-line-height;
                text-shadow: $app-auth-footer-item-text-shadow;
            }
        }

        .tn-input-container
        {
            &:before
            {
                left: 22px; top: 1px;
                line-height: $app-auth-input-login-height;
                color: $app-auth-input-color-icon;
                font-size: 12px;
            }

            > .tn-input
            {
                height: $app-auth-input-login-height; width: $app-auth-input-login-width;
                padding-left: 54px;
                color: $app-auth-input-color-text;
                font-family: $app-auth-input-font-family;
                font-size: $app-auth-input-font-size;
            }

            &:last-child:before
            {
                left: 23px; top: -1px;
                font-size: 17px;
            }
        }

        .tn-button
        {
            height: $app-auth-button-login-height; width: $app-auth-button-login-width;
            box-shadow: $app-box-shadow-dark-background;
            border-radius: $app-button-border-radius;
        }
    }
  }
    &.cpt-ready
    {
        > .tn-container
        {
            transform: translate3d(0, 0, 0);
        }

        > .cpt-container-app-title
        {
            > .tn-align-item
            {
                > .cpt-app-title
                {
                    transform: translate3d(0, $app-auth-app-title-translate-login, 0) scale($app-auth-app-title-scale-login);
                }

                > .cpt-container-logo
                {
                    > firefly
                    {
                        transform: translate3d(-51px, -3px, 0) scale($app-auth-logo-scale);
                    }
                }

                > .cpt-tagline
                {
                    transform: translate3d(0, $app-auth-app-title-translate-login - 6px, 0);
                    opacity: 1;
                }
            }
        }

        > .cpt-container-auth
        {
            opacity: 1;
        }
    }

    > .cpt-container-user-menu
    {
        position: relative;
        width: 100%;
        //opacity: 0;
        padding: 0 38px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        > .cpt-sign-up-link
        {
          position: relative;
          width: 100%;
          height: 10px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
          font-family: Lato;
          font-size: 8px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          margin-top: 20px;
          text-align: right;
        }
    }
}

.cpt-title
{
    position: relative;
    height: $app-auth-app-title-height; width: $app-auth-app-title-width;
    position: relative;
    display: block;
    margin-top: 18px; margin-left: 3px;
}

.cpt-tagline
{
    position: relative;
    display: block;
    margin-top: 8px;
    line-height: $app-auth-tagline-line-height;
    color: $app-auth-tagline-color;
    text-align: center;
    font-family: $app-auth-tagline-font-family;
    font-size: $app-auth-tagline-font-size;
    letter-spacing: $app-auth-tagline-letter-spacing;
    text-shadow: $app-auth-tagline-text-shadow;
    transition-delay: $app-transition-duration-move;
    transition-timing-function: ease-out;
    opacity: 0;
}

.tn-ico.fa-icon:before
{
    font-family: $app-font-font-awesome;
    font-size: $app-font-font-awesome-size;
}

.error-messages {
  font-size: 0.7em;
  color: red;
  text-align: center;
}
