@import 'variables';

$cpt-font-size-small:                          12px;
$cpt-font-size-icon:                           $cpt-font-size-small;

$cpt-font-helvetica-neue:                      "Helvetica Neue",                                                                        Helvetica, Arial, sans-serif;
$cpt-font-helvetica-neue-light:                "HelveticaNeue-Light",             "Helvetica Neue Light",             "Helvetica Neue", Helvetica, Arial, sans-serif;

$cpt-font-base:                               -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$cpt-box-shadow-dark-background:              0px 1px 1px rgba(0, 0, 0, 0.36);
$cpt-box-shadow-light-background:             0px 1px 1px rgba(0, 0, 0, 0.10);

$cpt-input-height:                           34px;
$cpt-input-directive-height:                 $cpt-input-height;
$cpt-input-directive-space-right:            $cpt-input-height + 0.9;
$cpt-input-icon-font-family:                 $fire-font-ionic-icons;
$cpt-input-icon-line-height:                 $cpt-input-directive-height;

$cpt-input-icon-verified:                    '\f2bc';    // $ionicon-var-checkmark
$cpt-input-icon-error:                       '\f2c0';    // $ionicon-var-close
$cpt-input-icon-verified-round:              '\f2bb';    // $ionicon-var-checkmark-round
$cpt-input-icon-error-round:                 '\f14e';    // $ionicon-var-close-round
$cpt-input-icon-clear:                       '\f2bf';    // $ionicon-var-close-circled

$cpt-input-spinner-height:                   if(ceil($cpt-input-directive-height / $tn-golden-ratio) % 2 == 0, ceil($cpt-input-directive-height / $tn-golden-ratio), floor($cpt-input-directive-height / $tn-golden-ratio));
$cpt-input-spinner-width:                    $cpt-input-spinner-height;
$cpt-input-spinner-margin:                   ($cpt-input-directive-height - $cpt-input-spinner-height) / 2;
$cpt-input-spinner-margin-right:             $cpt-input-spinner-width + (($cpt-input-directive-space-right - $cpt-input-spinner-width) / 2);

$cpt-input-icon-font-size:                   $cpt-input-spinner-height;

$cpt-input-icon-verified-width:              $cpt-input-icon-font-size * 0.8125;
$cpt-input-icon-verified-margin:             $cpt-input-icon-verified-width + (($cpt-input-directive-space-right - $cpt-input-icon-verified-width) / 2);
$cpt-input-icon-error-width:                 $cpt-input-icon-font-size * 0.75;
$cpt-input-icon-error-margin:                $cpt-input-icon-error-width + (($cpt-input-directive-space-right - $cpt-input-icon-error-width) / 2);

$cpt-button-border-radius:                   3px;

$cpt-auth-button-login-height:               $cpt-input-directive-height;
$cpt-auth-button-login-width:                100%;

$cpt-auth-input-login-height:                $cpt-auth-button-login-height;
$cpt-auth-input-login-width:                 $cpt-auth-button-login-width;

$cpt-auth-divider-margin:                    21px;

$cpt-auth-app-title-height:                  76%;
$cpt-auth-app-title-width:                   76%;
$cpt-auth-app-title-scale-login:             0.71255060728745;
$cpt-auth-app-title-translate-login:         -($cpt-auth-input-login-height + 0.2);

$cpt-auth-logo-height-login:                 31px;
$cpt-auth-logo-width-login:                  $cpt-auth-logo-height-login;
$cpt-auth-logo-scale:                        0.54385964912281;

$cpt-auth-tagline-text-shadow:               0px 2px 3px rgba(0, 0, 0, 0.28);

$cpt-auth-container-title-height:            68px;
$cpt-auth-container-auth-height:             408px;
$cpt-auth-container-translate:               ($cpt-auth-container-auth-height - $cpt-auth-container-title-height) / 2;

$cpt-auth-footer-item-line-height:           $tn-line-height-none;
$cpt-auth-footer-item-text-shadow:           $cpt-box-shadow-dark-background;

:host
{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tn-ico:before
{
    display: block;
    //position: absolute;
    top: 0; left: 0;
    padding-left: 20px;
    padding-right: 10px;
    font-size: $cpt-font-size-icon;
}

.tn-input-container
{
    position: relative;
    display: block;

    &:after
    {
        display: none;
        position: absolute;
        top: 0; right: 0;
        font-family: $cpt-input-icon-font-family;
        font-size: $cpt-input-icon-font-size;
        line-height: $cpt-input-icon-line-height;
    }

    &.tn-input-status-verified
    {
        &:after
        {
            display: block;
            content: $cpt-input-icon-verified;
            color: $fire-color-primary;
            right: -($cpt-input-icon-verified-margin);
        }

        &.tn-input-icon-rounded:after
        {
            content: $cpt-input-icon-verified-round;
        }
    }

    &.tn-input-status-error
    {
        &:after
        {
            display: block;
            content: $cpt-input-icon-error;
            color: $gm-color-red-800;
            right: -($cpt-input-icon-error-margin);
        }

        &.tn-input-icon-rounded:after
        {
            content: $cpt-input-icon-error-round;
        }
    }

    > .spinner-crescent
    {
        display: block;
        position: absolute;
        top: $cpt-input-spinner-margin; right: -($cpt-input-spinner-margin-right);
    }

    > .tn-input-clear
    {
        &:after
        {
            display: block;
            position: absolute;
            top: 0; right: $cpt-input-spinner-margin;
            font-family: $cpt-input-icon-font-family;
            font-size: $cpt-input-icon-font-size;
            line-height: $cpt-input-icon-line-height;
            content: $cpt-input-icon-clear;
            color: $gm-color-grey-400;
        }
    }
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
{
    &.tn-input
    {
        position: relative;
        display: block;
        border: none;
        background-color: $fire-color-transparent;
        line-height: $tn-line-height;
    }
}

.tn-animate
{
    transition-timing-function: linear;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    perspective: 1000;
    transition-property: none;

    &.tn-align-items
    {
        transition-duration: $fire-transition-duration-move;
        transition-property: align-items;
    }

    &.tn-justify-content
    {
        transition-duration: $fire-transition-duration-move;
        transition-property: justify-content;

        &.tn-align-items
        {
            transition-duration: $fire-transition-duration-move;
            transition-property: justify-content, align-items;
        }
    }

    &.tn-margin
    {
        transition-duration: $fire-transition-duration-move;
        transition-property: margin;
    }

    &.tn-transform
    {
        transition-duration: $fire-transition-duration-move;
        transition-property: transform;
    }

    &.tn-opacity
    {
        transition-duration: $fire-transition-duration-move;
        transition-property: opacity;

        &.tn-transform
        {
            transition-duration: $fire-transition-duration-move;
            transition-property: opacity, transform;
        }
    }

    &.tn-dimensions
    {
        transition-duration: $fire-transition-duration-move;
        transition-property: height, width;

        &.tn-margin
        {
            transition-property: height, width, margin;

            &.tn-opacity
            {
                transition-property: height, width, margin, opacity;
            }
        }

        &.tn-opacity
        {
            transition-property: height, width, opacity;
        }
    }

    &.tn-height
    {
        transition-duration: $fire-transition-duration-move;
        transition-property: height;

        &.tn-margin
        {
            transition-property: height, margin;

            &.tn-opacity
            {
                transition-property: height, margin, opacity;
            }
        }

        &.tn-opacity
        {
            transition-property: height, opacity;
        }
    }

    &.tn-width
    {
        transition-duration: $fire-transition-duration-move;
        transition-property: width;

        &.tn-margin
        {
            transition-property: width, margin;

            &.tn-opacity
            {
                transition-property: width, margin, opacity;
            }
        }

        &.tn-opacity
        {
            transition-property: width, opacity;
        }
    }
}


.tn-container
{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;

    &.tn-fill
    {
        height: 100%;
        width: 100%;
    }
}

.tn-container-reset
{
    position: relative;
    flex: none;
    display: flex;
}

.tn-provider
{
    &.tn-button
    {
        color: $fire-color-white;
        font-size: 10px;
        font-family: $cpt-font-helvetica-neue;
        text-shadow: $cpt-box-shadow-light-background;

        .tn-item
        {
            position: relative;
            display: inline-block;
            line-height: $tn-line-height-none;
            padding-left: 26px;

            &:before
            {
                box-sizing: border-box;
                display: block;
                position: absolute;
                top: -3px; left: 4px;
                height: 17px;
                width: 16px;
                font-family: $fire-font-awesome;
                font-size: 16px;
                border-radius: 2px;
                background-color: $fire-color-white;
                text-shadow: none;
                text-align: center;
            }
        }
    }
}

.tn-button
{
    position: relative;
    display: block;
    border: none;
    background-color: $fire-color-transparent;
    line-height: $tn-line-height-none;
    text-align: center;

    &.tn-delete
    {
        position: absolute;
        top: 0; right: 0;
        height: $ios-list-item-button-delete-height; width: $ios-list-item-button-delete-width;
        background-color: $fire-color-accent-light;
    }
}

.button.tn-button
{
    text-transform: none;
    margin: 0;
}

.cpt-container
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $fire-color-dark;

    > .tn-container
    {
        transform: translate3d(0, 50%, 0);
    }

    > .cpt-container-app-title
    {
        margin-top: -35px; margin-left: -1px;

        > .tn-align-item
        {
            position: relative;
            height: $cpt-auth-container-title-height;
            margin-left: 3px; margin-top: -10px;

            > .cpt-container-logo
            {
                position: relative;
            }
        }
    }
> .form-login
{
    > .cpt-container-auth
    {
        position: relative;
        width: 100%;
        //opacity: 0;
        padding: 0 38px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        > .cpt-auth-email
        {
            position: relative;
            width: 100%;

            > .cpt-container-inputs
            {
                margin-bottom: 8px;
                background-color: $fire-color-white;
                border-radius: $cpt-button-border-radius;
                box-shadow: $cpt-box-shadow-dark-background;

                .fa-envelope-o
                {
                    padding-top: 1px;
                    width: 100%;
                }

                .fa-lock
                {
                    padding-top: 1px;
                    width: 100%;
                }

                > .cpt-divider
                {
                    height: 1px; width: $cpt-auth-input-login-width;
                    background-color: $fire-color-grey-light;
                }
            }

            > .tn-button
            {
                background-color: $fire-color-primary;
                color: $fire-color-grey-dark;
                font-family: $cpt-font-helvetica-neue;
                font-size: $cpt-font-size-small;
                text-shadow: $cpt-box-shadow-light-background;
            }
        }

        > .cpt-divider
        {
            position: relative;
            color: $fire-color-white;
            margin: 32px 0;
            text-align: center;
            line-height: $tn-line-height-none;
            font-family: $cpt-font-base;
            font-size: 9px;
            text-transform: uppercase;

            > .tn-align-item
            {
                position: relative;
                display: block;

                &:before,
                &:after
                {
                    position: absolute;
                    display: inline-block;
                    top: 4px;
                    content: '';
                    height: 1px; width: 47px;
                    background-color: $fire-color-grey-lightest;
                }

                &:before
                {
                    left: $cpt-auth-divider-margin;
                }

                &:after
                {
                    right: $cpt-auth-divider-margin;
                }
            }
        }

        > .cpt-buttons
        {
            position: relative;
            width: 100%;
            margin-bottom: 42px;

            display: flex;
            flex-direction: column;

            > .tn-button
            {
                margin-bottom: 8px;

                &:last-child
                {
                    margin-bottom: 0;
                }
            }
        }

        > .cpt-footer
        {
            position: relative;
            width: 100%;
            margin-top: 30px; margin-bottom: 38px;
            color: $fire-color-white;
            font-family: $cpt-font-base;
            font-size: 8px;

            .cpt-underline
            {
                text-decoration: underline;
            }

            > .cpt-item
            {
                height: $cpt-auth-footer-item-line-height;
            }

            .cpt-item
            {
                position: relative;
                line-height: $cpt-auth-footer-item-line-height;
                text-shadow: $cpt-box-shadow-dark-background;
            }
        }

        .tn-input-container
        {
            &:before
            {
                left: 22px; top: 1px;
                line-height: $cpt-auth-input-login-height;
                color: $fire-color-grey-lighter;
                font-size: 12px;
            }

            > .tn-input
            {
                height: $cpt-auth-input-login-height; width: $cpt-auth-input-login-width;
                padding-left: 54px;
                color: rgba(74, 79, 76, 0.8);
                font-family: $cpt-font-helvetica-neue;
                font-size: $cpt-font-size-small;
            }

            &:last-child:before
            {
                left: 23px; top: -1px;
                font-size: 17px;
            }
        }

        .tn-button
        {
            height: $cpt-auth-button-login-height; width: $cpt-auth-button-login-width;
            box-shadow: $cpt-box-shadow-dark-background;
            border-radius: $cpt-button-border-radius;
        }
    }
  }


    > .cpt-container-user-menu
    {
        position: relative;
        width: 100%;
        //opacity: 0;
        padding: 0 38px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        > .cpt-sign-up-link
        {
          position: relative;
          width: 100%;
          height: 10px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
          font-family: Lato;
          font-size: 8px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          margin-top: 20px;
          text-align: right;
        }
    }
}

.tn-ico.fa-icon:before
{
    font-family: $fire-font-awesome;
    font-size: $cpt-font-size-icon;
}

.error-messages {
  font-size: 0.7em;
  color: red;
  text-align: center;
}
