@import 'variables';

:host
{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $fire-color-dark;

    ion-icon {
      font-size: 3rem;
    }

    .cpt-container
    {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $fire-color-dark;

        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }

    .error-messages
    {
        font-size: 0.7em;
        color: red;
        text-align: center;
    }

    ion-slides {
        height: 100%;
        width: 100%;

        --bullet-background: #{$fire-color-white};
        --bullet-background-active: #{$fire-color-white};
    }

    app-button-action {
        margin-top: 2rem;
    }
}
