
<ion-header mode="ios">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="close()" *ngIf="!(userLoading$ | async)" >
                <ion-icon mode="ios" name="close" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<section class="cpt-container"
         fxLayout="column"
         fxLayoutAlign="center"
         fxLayoutGap="2rem">
    <app-logo [loading]="userLoading$ | async"></app-logo>
    <app-auth [login]="!signup"></app-auth>
</section>
