<ion-header color="white">
    <ion-toolbar >
        <ion-title>
            {{ ((isNew$ | async) ? 'page.interest.title.edit.new' : 'page.interest.title.edit') | translate }}
        </ion-title>

        <ion-buttons slot="start">
            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="dark" (click)="save()" [disabled]="!(canUpdate$ | async)">
                {{ ((isNew$ | async) ? 'general.publish' : 'general.update') | translate }}
            </ion-button>
         </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form novalidate
          *ngIf="form$ | async"
          [formGroup]="form$  | async"
          ngxsForm="interests.form">

        <app-item-image [url]="image$ | async"
                        [form]="form$ | async"
                        [placeholder]="'page.interest.imagePlaceholder' | translate"
                        [title]="'page.interest.imageTitlePlaceholder' | translate"
                        [edit]="true"
                        (clicked)="selectImage()">
        </app-item-image>

        <ion-item>
          <ion-input [class.invalid]="!(form$ | async).controls.name.valid && (form$ | async).controls.name.dirty" type="text"
                     inputmode="text"
                     formControlName="name"
                     [placeholder]="'page.event.titlePlaceholder' | translate">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input  [class.invalid]="!(form$ | async).controls.tagline.valid && (form$ | async).controls.tagline.dirty"
                      type="text"
                      inputmode="text"
                      formControlName="tagline"
                      [placeholder]="'page.event.subtitlePlaceholder' | translate">
          </ion-input>
        </ion-item>

        <div class="cpt-detail" fxLayout="column">
            <ion-list>
                <ion-item-group>
                    <ion-item-divider></ion-item-divider>

                    <ion-item>
                        <ion-icon [name]="(private$ | async) ? 'lock-closed' : 'lock-open'" slot="start" color="grey"></ion-icon>
                        <ion-label>{{ 'general.isPrivate' | translate }}</ion-label>
                        <ion-toggle formControlName="private" color="primary"></ion-toggle>
                    </ion-item>

                    <ion-item>
                      <ion-icon name="cloud" slot="start" color="grey"></ion-icon>
                      <ion-label>{{ 'general.isVirtual' | translate }}</ion-label>
                      <ion-toggle formControlName="virtual" color="primary"></ion-toggle>
                    </ion-item>

                    <ion-item-divider></ion-item-divider>

                    <app-item-description [form]="form$ | async"
                    [class.invalid]="!(form$ | async).controls.description.valid && (form$ | async).controls.description.dirty"
                                          [title]="'general.description' | translate"
                                          description="description"
                                          [descriptionPlaceholder]="'page.interest.descriptionPlaceholder' | translate">
                    </app-item-description>

                    <ion-item-divider></ion-item-divider>

                    <ion-list *ngFor="let event of events$ | async">
                      <ion-item-divider>
                          <ion-label>
                              {{ event.timeStart | timestamp:'dateLong' }}
                          </ion-label>
                      </ion-item-divider>

                      <ion-item (click)="select(event)">
                          <ion-avatar slot="start">
                              <img [src]="event.metadata.image">
                          </ion-avatar>
                          <ion-label>
                              {{ event.timeStart | timestamp:'shortTime' }}
                          </ion-label>
                          <ion-label>
                              <h2>{{ event.name }}</h2>
                              <p>{{ event.tagline }}</p>
                          </ion-label>
                      </ion-item>
                    </ion-list>

                    <ion-item-divider></ion-item-divider>
                </ion-item-group>
            </ion-list>
        </div>
    </form>
</ion-content>
