<ion-header elevation="1">
    <ion-toolbar>
        <ion-title>
            {{ 'page.event.detail.title' | translate }}
        </ion-title>

        <ion-buttons slot="start">
            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button *ngIf="canEdit$ | async"
                        (click)="edit()"
                        icon-only>
                <ion-icon size="large" name="create-outline" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cpt-container"
          slot="fixed">
        <app-slide [slide]="event$ | async"
                    [buttonText]="'general.go' | translate"
                    (alertDeleteClicked)="delete()"
                    (alertGoClicked)="go()">
        </app-slide>
    </div>
</ion-content>
