@import 'variables';

:host
{
    .cpt-container
    {
        height: 100%;
        width: 100%;
        margin: 0;
        padding-top: 34px;
        padding-bottom: 34px;

        background-color: $fire-color-grey-lightest;
    }

    app-slide {
        height: 100%;
        width: auto;
        margin-left: 28px;
        margin-right: 28px;
    }
}
