<form novalidate class="comp-container" [formGroup]="form" *ngIf="edit">
    <h4 class="comp-title" fxFlexAlign="center">{{title}}</h4>

    <ion-textarea class="comp-description" [placeholder]="descriptionPlaceholder" [formControlName]="description"></ion-textarea>

    <input class="comp-image-hidden" type="hidden" [formControlName]="image">

    <img class="comp-image" [src]="imageUrl" (click)="clickedImage()">
</form>

<div class="comp-container" *ngIf="!edit">
    <h4 class="comp-title" fxFlexAlign="center">{{title}}</h4>

    <p class="comp-description">{{description}}</p>

    <img class="comp-image" [src]="imageUrl">
</div>
