.tn-icon
{
    height: 80px;
    width: 80px;

    > img {height: 100%; width: 100%;}

    > .placeholder
    {
        height: 100%; width: 100%;
        border-color: #DDDDDD;
        border-width: 2px;
        border-style: solid;
        font-size: 0px;

        .text
        {
            width: 100%;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
        }
    }
}