$tn-orb-size:               1.0rem;
$tn-orb-color-border:       $ios-map-color-orb-border;
$tn-orb-color:              $ios-map-color-orb;
$tn-orb-color-pulse: 		$ios-map-color-orb-pulse;
$tn-duration-pulse:         3s;
$tn-duration-dot:           $tn-duration-pulse;