$tn-button-border-radius:                   3px;


$tn-button-delete-height:                   $ios-list-item-button-delete-height;
$tn-button-delete-width:                    $ios-list-item-button-delete-width;
$tn-button-delete-color-background:         $ios-list-item-button-delete-color-background;