$tn-map-pin-icon:                           $fa-var-map-marker;
$tn-map-pin-icon-color:                     $gm-color-black;
$tn-map-pin-icon-font-family:               $fa-font-family-font-awesome;
$tn-map-pin-icon-font-size:                 3.4rem;
$tn-map-pin-icon-height:                    $tn-map-pin-icon-font-size;
$tn-map-pin-icon-width:                     2.0rem;
$tn-map-pin-icon-box-shadow:                0 1px 1px rgba(0, 0, 0, 0.10);

$tn-map-pin-icon-inner-font-family:         $fa-font-family-font-awesome;
$tn-map-pin-icon-inner-font-size:           1.1rem;
$tn-map-pin-icon-inner-color:               $gm-color-white;

$tn-map-pin-icon-inner-shadow-top:          0 -1px 0 rgba(0,    0,    0, 0.21);
$tn-map-pin-icon-inner-shadow-bottom:       0  1px 0 rgba(255, 255, 255, 0.21);

$tn-map-pin-icon-check:                     $fa-var-check-circle;
$tn-map-pin-icon-plus:                      $fa-var-plus-circle;