$tn-text-shadow-dark-background:        0px 2px 3px rgba(0, 0, 0, 0.28);
$tn-text-shadow-light-background:       0px 2px 3px rgba(0, 0, 0, 0.18);

$tn-box-shadow-dark-background:         0px 1px 1px rgba(0, 0, 0, 0.36);
$tn-box-shadow-light-background:        0px 1px 1px rgba(0, 0, 0, 0.10);