<ion-header class="app-transparent">
    <ion-navbar color='white'>
        <ion-title>{{'pages.cluster.title' | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="app-color-white">
<!--
    <form novalidate [formGroup]="form$ | async">
        <app-item-header [form]="form$ | async"
                        title="name"
                        [titlePlaceholder]="'pages.cluster.titlePlaceholder' | translate"
                        subtitle="tagline"
                        [subtitlePlaceholder]="'pages.cluster.subtitlePlaceholder' | translate"
                        icon="icon"
                        [iconPlaceholder]="'pages.cluster.iconPlaceholder' | translate"
                        iconUrlEmpty="icons/avatar-empty.svg">
        </app-item-header>

        <app-item-header icon="temp/icons/coffee-icon-blue.png"
                         title="My cluster title!"
                         subtitle="My subtitle">
        </app-item-header>
    </form>
-->
</ion-content>
