@import 'variables';

:host {
    --background: #{$fire-color-white};

    ion-searchbar {
        --box-shadow: none;
    }

    section
    {
        position: relative;
        height: 100%;
        background-color: $fire-color-grey-lightest;
    }
}


@import 'variables';

:host {
    .searchResults {
        position: absolute;
        z-index: 1;
        width: 100%;
        background-color: white;
    }
}
