$tn-font-face-name-lato:                    "Lato";
$tn-font-face-name-lato-black:              "Lato Black";
$tn-font-face-name-lato-black-italic:       "Lato Black Italic";
$tn-font-face-name-lato-bold:               "Lato Bold";
$tn-font-face-name-lato-bold-italic:        "Lato Bold Italic";
$tn-font-face-name-lato-hairline:           "Lato Hairline";
$tn-font-face-name-lato-hairline-italic:    "Lato Hairline Italic";
$tn-font-face-name-lato-italic:             "Lato Italic";
$tn-font-face-name-lato-light:              "Lato Light";
$tn-font-face-name-lato-light-italic:       "Lato Light Italic";

$tn-font-face-url-lato:                     url(../fonts/lato/lato.ttf);
$tn-font-face-url-lato-black:               url(../fonts/lato/lato.black.ttf);
$tn-font-face-url-lato-black-italic:        url(../fonts/lato/lato.black.italic.ttf);
$tn-font-face-url-lato-bold:                url(../fonts/lato/lato.bold.ttf);
$tn-font-face-url-lato-bold-italic:         url(../fonts/lato/lato.bold.italic.ttf);
$tn-font-face-url-lato-hairline:            url(../fonts/lato/lato.hairline.ttf);
$tn-font-face-url-lato-hairline-italic:     url(../fonts/lato/lato.hairline.italic.ttf);
$tn-font-face-url-lato-italic:              url(../fonts/lato/lato.italic.ttf);
$tn-font-face-url-lato-light:               url(../fonts/lato/lato.light.ttf);
$tn-font-face-url-lato-light-italic:        url(../fonts/lato/lato.light.italic.ttf);

$tn-font-family-lato:                       $tn-font-face-name-lato;
$tn-font-family-lato-black:                 $tn-font-face-name-lato-black;
$tn-font-family-lato-black-italic:          $tn-font-face-name-lato-black-italic;
$tn-font-family-lato-bold:                  $tn-font-face-name-lato-bold;
$tn-font-family-lato-bold-italic:           $tn-font-face-name-lato-bold-italic;
$tn-font-family-lato-hairline:              $tn-font-face-name-lato-hairline;
$tn-font-family-lato-hairline-italic:       $tn-font-face-name-lato-hairline-italic;
$tn-font-family-lato-italic:                $tn-font-face-name-lato-italic;
$tn-font-family-lato-light:                 $tn-font-face-name-lato-light;
$tn-font-family-lato-light-italic:          $tn-font-face-name-lato-light-italic;