@font-face
{
    font-family: $tn-font-face-name-san-francisco-display;
    src: $tn-font-face-url-san-francisco-display;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-display-black;
    src: $tn-font-face-url-san-francisco-display-black;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-display-bold;
    src: $tn-font-face-url-san-francisco-display-bold;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-display-heavy;
    src: $tn-font-face-url-san-francisco-display-heavy;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-display-light;
    src: $tn-font-face-url-san-francisco-display-light;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-display-light-ultra;
    src: $tn-font-face-url-san-francisco-display-light-ultra;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-display-medium;
    src: $tn-font-face-url-san-francisco-display-medium;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-display-semibold;
    src: $tn-font-face-url-san-francisco-display-semibold;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-display-thin;
    src: $tn-font-face-url-san-francisco-display-thin;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text;
    src: $tn-font-face-url-san-francisco-text;
}


@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-bold;
    src: $tn-font-face-url-san-francisco-text-bold;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-bold-italic;
    src: $tn-font-face-url-san-francisco-text-bold-italic;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-heavy;
    src: $tn-font-face-url-san-francisco-text-heavy;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-heavy-italic;
    src: $tn-font-face-url-san-francisco-text-heavy-italic;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-italic;
    src: $tn-font-face-url-san-francisco-text-italic;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-light;
    src: $tn-font-face-url-san-francisco-text-light;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-light-italic;
    src: $tn-font-face-url-san-francisco-text-light-italic;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-medium;
    src: $tn-font-face-url-san-francisco-text-medium;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-medium-italic;
    src: $tn-font-face-url-san-francisco-text-medium-italic;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-semibold;
    src: $tn-font-face-url-san-francisco-text-semibold;
}

@font-face
{
    font-family: $tn-font-face-name-san-francisco-text-semibold-italic;
    src: $tn-font-face-url-san-francisco-text-semibold-italic;
}