@font-face
{
    font-family: $tn-font-face-name-lato;
    src: $tn-font-face-url-lato;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-black;
    src: $tn-font-face-url-roboto-black;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-black-italic;
    src: $tn-font-face-url-roboto-black-italic;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-bold;
    src: $tn-font-face-url-roboto-bold;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-bold-italic;
    src: $tn-font-face-url-roboto-bold-italic;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-italic;
    src: $tn-font-face-url-roboto-italic;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-light;
    src: $tn-font-face-url-roboto-light;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-light-italic;
    src: $tn-font-face-url-roboto-light-italic;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-medium;
    src: $tn-font-face-url-roboto-medium;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-medium-italic;
    src: $tn-font-face-url-roboto-medium-italic;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-thin;
    src: $tn-font-face-url-roboto-thin;
}

@font-face
{
    font-family: $tn-font-face-name-roboto-thin-italic;
    src: $tn-font-face-url-roboto-thin-italic;
}