$tn-font-face-name-san-francisco-display:                   "San Francisco Display";
$tn-font-face-name-san-francisco-display-black:             "San Francisco Display Black";
$tn-font-face-name-san-francisco-display-bold:              "San Francisco Display Bold";
$tn-font-face-name-san-francisco-display-heavy:             "San Francisco Display Heavy";
$tn-font-face-name-san-francisco-display-light:             "San Francisco Display Light";
$tn-font-face-name-san-francisco-display-light-ultra:       "San Francisco Display Ultra Light";
$tn-font-face-name-san-francisco-display-medium:            "San Francisco Display Medium";
$tn-font-face-name-san-francisco-display-semibold:          "San Francisco Display Semibold";
$tn-font-face-name-san-francisco-display-thin:              "San Francisco Display Thin";

$tn-font-face-name-san-francisco-text:                      "San Francisco Text";
$tn-font-face-name-san-francisco-text-bold:                 "San Francisco Text Bold";
$tn-font-face-name-san-francisco-text-bold-italic:          "San Francisco Text Bold Italic";
$tn-font-face-name-san-francisco-text-heavy:                "San Francisco Text Heavy";
$tn-font-face-name-san-francisco-text-heavy-italic:         "San Francisco Text Heavy Italic";
$tn-font-face-name-san-francisco-text-italic:               "San Francisco Text Italic";
$tn-font-face-name-san-francisco-text-light:                "San Francisco Text Light";
$tn-font-face-name-san-francisco-text-light-italic:         "San Francisco Text Light Italic";
$tn-font-face-name-san-francisco-text-medium:               "San Francisco Text Medium";
$tn-font-face-name-san-francisco-text-medium-italic:        "San Francisco Text Medium Italic";
$tn-font-face-name-san-francisco-text-semibold:             "San Francisco Text Semibold";
$tn-font-face-name-san-francisco-text-semibold-italic:      "San Francisco Text Semibold Italic";


$tn-font-face-url-san-francisco-display:                    url(../fonts/san.francisco/san.francisco.display.otf);
$tn-font-face-url-san-francisco-display-black:              url(../fonts/san.francisco/san.francisco.display.black.otf);
$tn-font-face-url-san-francisco-display-bold:               url(../fonts/san.francisco/san.francisco.display.bold.otf);
$tn-font-face-url-san-francisco-display-heavy:              url(../fonts/san.francisco/san.francisco.display.heavy.otf);
$tn-font-face-url-san-francisco-display-light:              url(../fonts/san.francisco/san.francisco.display.light.otf);
$tn-font-face-url-san-francisco-display-light-ultra:        url(../fonts/san.francisco/san.francisco.display.light.ultra.otf);
$tn-font-face-url-san-francisco-display-medium:             url(../fonts/san.francisco/san.francisco.display.medium.otf);
$tn-font-face-url-san-francisco-display-semibold:           url(../fonts/san.francisco/san.francisco.display.semibold.otf);
$tn-font-face-url-san-francisco-display-thin:               url(../fonts/san.francisco/san.francisco.display.thin.otf);

$tn-font-face-url-san-francisco-text:                       url(../fonts/san.francisco/san.francisco.text.otf);
$tn-font-face-url-san-francisco-text-bold:                  url(../fonts/san.francisco/san.francisco.text.bold.otf);
$tn-font-face-url-san-francisco-text-bold-italic:           url(../fonts/san.francisco/san.francisco.text.bold.italic.otf);
$tn-font-face-url-san-francisco-text-heavy:                 url(../fonts/san.francisco/san.francisco.text.heavy.otf);
$tn-font-face-url-san-francisco-text-heavy-italic:          url(../fonts/san.francisco/san.francisco.text.heavy.italic.otf);
$tn-font-face-url-san-francisco-text-italic:                url(../fonts/san.francisco/san.francisco.text.italic.otf);
$tn-font-face-url-san-francisco-text-light:                 url(../fonts/san.francisco/san.francisco.text.light.otf);
$tn-font-face-url-san-francisco-text-light-italic:          url(../fonts/san.francisco/san.francisco.text.light.italic.otf);
$tn-font-face-url-san-francisco-text-medium:                url(../fonts/san.francisco/san.francisco.text.medium.otf);
$tn-font-face-url-san-francisco-text-medium-italic:         url(../fonts/san.francisco/san.francisco.text.medium.italic.otf);
$tn-font-face-url-san-francisco-text-semibold:              url(../fonts/san.francisco/san.francisco.text.semibold.otf);
$tn-font-face-url-san-francisco-text-semibold-italic:       url(../fonts/san.francisco/san.francisco.text.semibold.italic.otf);


$tn-font-family-san-francisco-display:                      $tn-font-face-name-san-francisco-display;
$tn-font-family-san-francisco-display-black:                $tn-font-face-name-san-francisco-display-black;
$tn-font-family-san-francisco-display-bold:                 $tn-font-face-name-san-francisco-display-bold;
$tn-font-family-san-francisco-display-heavy:                $tn-font-face-name-san-francisco-display-heavy;
$tn-font-family-san-francisco-display-light:                $tn-font-face-name-san-francisco-display-light;
$tn-font-family-san-francisco-display-light-ultra:          $tn-font-face-name-san-francisco-display-light-ultra;
$tn-font-family-san-francisco-display-medium:               $tn-font-face-name-san-francisco-display-medium;
$tn-font-family-san-francisco-display-semibold:             $tn-font-face-name-san-francisco-display-semibold;
$tn-font-family-san-francisco-display-thin:                 $tn-font-face-name-san-francisco-display-thin;

$tn-font-family-san-francisco-text:                         $tn-font-face-name-san-francisco-text;
$tn-font-family-san-francisco-text-bold:                    $tn-font-face-name-san-francisco-text-bold;
$tn-font-family-san-francisco-text-bold-italic:             $tn-font-face-name-san-francisco-text-bold-italic;
$tn-font-family-san-francisco-text-heavy:                   $tn-font-face-name-san-francisco-text-heavy;
$tn-font-family-san-francisco-text-heavy-italic:            $tn-font-face-name-san-francisco-text-heavy-italic;
$tn-font-family-san-francisco-text-italic:                  $tn-font-face-name-san-francisco-text-italic;
$tn-font-family-san-francisco-text-light:                   $tn-font-face-name-san-francisco-text-light;
$tn-font-family-san-francisco-text-light-italic:            $tn-font-face-name-san-francisco-text-light-italic;
$tn-font-family-san-francisco-text-medium:                  $tn-font-face-name-san-francisco-text-medium;
$tn-font-family-san-francisco-text-medium-italic:           $tn-font-face-name-san-francisco-text-medium-italic;
$tn-font-family-san-francisco-text-semibold:                $tn-font-face-name-san-francisco-text-semibold;
$tn-font-family-san-francisco-text-semibold-italic:         $tn-font-face-name-san-francisco-text-semibold-italic;