$tn-font-face-name-roboto:                  "Roboto";
$tn-font-face-name-roboto-black:            "Roboto Black";
$tn-font-face-name-roboto-black-italic:     "Roboto Black Italic";
$tn-font-face-name-roboto-bold:             "Roboto Bold";
$tn-font-face-name-roboto-bold-italic:      "Roboto Bold Italic";
$tn-font-face-name-roboto-italic:           "Roboto Italic";
$tn-font-face-name-roboto-light:            "Roboto Light";
$tn-font-face-name-roboto-light-italic:     "Roboto Light Italic";
$tn-font-face-name-roboto-medium:           "Roboto Medium";
$tn-font-face-name-roboto-medium-italic:    "Roboto Medium Italic";
$tn-font-face-name-roboto-thin:             "Roboto Thin";
$tn-font-face-name-roboto-thin-italic:      "Roboto Thin Italic";

$tn-font-face-url-roboto:                   url(../fonts/roboto/roboto.ttf);
$tn-font-face-url-roboto-black:             url(../fonts/roboto/roboto.black.ttf);
$tn-font-face-url-roboto-black-italic:      url(../fonts/roboto/roboto.black.italic.ttf);
$tn-font-face-url-roboto-bold:              url(../fonts/roboto/roboto.bold.ttf);
$tn-font-face-url-roboto-bold-italic:       url(../fonts/roboto/roboto.bold.italic.ttf);
$tn-font-face-url-roboto-italic:            url(../fonts/roboto/roboto.italic.ttf);
$tn-font-face-url-roboto-light:             url(../fonts/roboto/roboto.light.ttf);
$tn-font-face-url-roboto-light-italic:      url(../fonts/roboto/roboto.light.italic.ttf);
$tn-font-face-url-roboto-medium:            url(../fonts/roboto/roboto.medium.ttf);
$tn-font-face-url-roboto-medium-italic:     url(../fonts/roboto/roboto.medium.italic.ttf);
$tn-font-face-url-roboto-thin:              url(../fonts/roboto/roboto.thin.ttf);
$tn-font-face-url-roboto-thin-italic:       url(../fonts/roboto/roboto.thin.italic.ttf);

$tn-font-family-roboto:                     $tn-font-face-name-roboto;
$tn-font-family-roboto-black:               $tn-font-face-name-roboto-black;
$tn-font-family-roboto-black-italic:        $tn-font-face-name-roboto-black-italic;
$tn-font-family-roboto-bold:                $tn-font-face-name-roboto-bold;
$tn-font-family-roboto-bold-italic:         $tn-font-face-name-roboto-bold-italic;
$tn-font-family-roboto-italic:              $tn-font-face-name-roboto-italic;
$tn-font-family-roboto-light:               $tn-font-face-name-roboto-light;
$tn-font-family-roboto-light-italic:        $tn-font-face-name-roboto-light-italic;
$tn-font-family-roboto-medium:              $tn-font-face-name-roboto-medium;
$tn-font-family-roboto-medium-italic:       $tn-font-face-name-roboto-medium-italic;
$tn-font-family-roboto-thin:                $tn-font-face-name-roboto-thin;
$tn-font-family-roboto-thin-italic:         $tn-font-face-name-roboto-thin-italic;