@use '../../google/variables' as google;

// Color Scheme - http://paletton.com/#uid=72x0u0kqMtIgFDulIvCtZowxzjr

$fire-color-black: google.$gm-color-black;
$fire-color-black-translucent: rgba(0, 0, 0, 0.7);
$fire-color-white: google.$gm-color-white;
$fire-color-white-translucent: rgba(255, 255, 255, 0.7);
$fire-color-transparent: rgba(0, 0, 0, 0);

$fire-color-dark: #212221;
$fire-color-dark-lighter: #373837;
$fire-color-dark-text: google.$gm-color-dark-text;
$fire-color-dark-text-secondary: google.$gm-color-dark-text-secondary;
$fire-color-dark-icons: google.$gm-color-dark-icons;
$fire-color-dark-dividers: google.$gm-color-dark-dividers;
$fire-color-dark-disabled: google.$gm-color-dark-disabled;
$fire-color-dark-hint: google.$gm-color-dark-hint;

$fire-color-light: google.$gm-color-light;
$fire-color-light-text: #030303;
$fire-color-light-text-secondary: google.$gm-color-light-text-secondary;
$fire-color-light-icons: google.$gm-color-light-icons;
$fire-color-light-dividers: google.$gm-color-light-dividers;
$fire-color-light-disabled: google.$gm-color-light-disabled;
$fire-color-light-hint: google.$gm-color-light-hint;

$fire-color-grey-light: rgb(230, 233, 230);
$fire-color-grey-lighter-font: #8f8e94;
$fire-color-grey-lighter: rgba(190, 199, 195, 0.7);
$fire-color-grey-lightest: #eff2f1;
$fire-color-grey-middle: rgba(146, 151, 149, 0.6);
$fire-color-grey-dark: rgba(5, 24, 28, 0.8);

$fire-color-primary-lightest: #b2ed72; // rgb(178, 237, 114)
$fire-color-primary-light: #9ae449; // rgb(154, 228, 73)    google.$gm-color-green-light-a400
$fire-color-primary: #80d623; // rgb(128, 214, 35)
$fire-color-primary-dark: #61b10b; // rgb(97, 177, 11)     google.$gm-color-green-light-a700
$fire-color-primary-darkest: #498c00; // rgb(73, 140, 0)

$fire-color-accent-lightest: #e76f9b; // rgb(231, 111, 155)
$fire-color-accent-light: #db477e; // rgb(219, 71, 126)    google.$gm-color-teal-a100
$fire-color-accent: #ce2262; // rgb(206, 34, 98)
$fire-color-accent-dark: #aa0b46; // rgb(170, 11, 70)     google.$gm-color-teal-a400
$fire-color-accent-darkest: #870032; // rgb(135, 0, 50)
