@import 'variables';

@font-face
{
    font-family:  $fire-font-awesome;
    src:          url(assets/fonts/font-awesome/font-awesome.ttf);
}

@font-face
{
    font-family:  $fire-font-firefly;
    src:          url(assets/fonts/firefly/firefly.ttf);
}
