@import 'variables';

:host
{
    ion-searchbar {
        --background: #{$fire-color-transparent};
/*
        --color: #{$fire-color-primary};
        --icon-color: var(--color);
        --placeholder-color: var(--color);
        --placeholder-opacity: 0.9;
        --clear-button-color: var(--color);
*/
    }

    app-map {
        height: 100%;
        width: 100%;
    }
}
