<ion-header>
    <ion-toolbar color="dark" elevation="2">
        <ion-title color="primary">{{'page.event-location.title' | translate}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<app-map [geocode]="true"
         [placeholder]="'page.event-location.searchPlaceholder' | translate"
         [locations]="locations$ | async"
         (result)="locationFound($event)"
         [mapLoadingText]="'component.map-loading' | translate">
</app-map>
