$font-source-sans-pro-black: 'SourceSansPro-Black';
$font-source-sans-pro-black-italic: 'SourceSansPro-BlackItalic';
$font-source-sans-pro-bold: 'SourceSansPro-Bold';
$font-source-sans-pro-bold-italic: 'SourceSansPro-BoldItalic';
$font-source-sans-pro-extra-light: 'SourceSansPro-ExtraLight';
$font-source-sans-pro-extra-light-italic: 'SourceSansPro-ExtraLightItalic';
$font-source-sans-pro-italic: 'SourceSansPro-Italic';
$font-source-sans-pro-light: 'SourceSansPro-Light';
$font-source-sans-pro-light-italic: 'SourceSansPro-LightItalic';
$font-source-sans-pro-regular: 'SourceSansPro-Regular';
$font-source-sans-pro-semi-bold: 'SourceSansPro-SemiBold';
$font-source-sans-pro-semi-bold-italic: 'SourceSansPro-SemiBoldItalic';
