$ios-map-color-water:                                   $ios-8-map-color-water;
$ios-map-color-land:                                    $ios-8-map-color-land;
$ios-map-color-park:                                    $ios-8-map-color-park;
$ios-map-color-airport:                                 $ios-8-map-color-airport;
$ios-map-color-hospital:                                $ios-8-map-color-hospital;
$ios-map-color-school:                                  $ios-8-map-color-school;
$ios-map-color-traffic:                                 $ios-8-map-color-traffic;
$ios-map-color-traffic-heavy:                           $ios-8-map-color-traffic-heavy;
$ios-map-color-road-highway:                            $ios-8-map-color-road-highway;
$ios-map-color-road-highway-border:                     $ios-8-map-color-road-highway-border;
$ios-map-color-road-main:                               $ios-8-map-color-road-main;
$ios-map-color-road-main-border:                        $ios-8-map-color-road-main-border;
$ios-map-color-road-secondary:                          $ios-8-map-color-road-secondary;
$ios-map-color-road-secondary-border:                   $ios-8-map-color-road-secondary-border;
$ios-map-color-road-minor:                              $ios-8-map-color-road-minor;
$ios-map-color-font:                                    $ios-8-map-color-font;
$ios-map-color-font-park:                               $ios-8-map-color-font-park;
$ios-map-color-font-water:                              $ios-8-map-color-font-water;
$ios-map-color-font-annotation:                         $ios-8-map-color-font-annotation;
$ios-map-color-pin-red:                                 $ios-8-map-color-pin-red;
$ios-map-color-pin-purple:                              $ios-8-map-color-pin-purple;
$ios-map-color-pin-highlight:                           $ios-8-map-color-pin-highlight;
$ios-map-color-pin-pole:                                $ios-8-map-color-pin-pole;
$ios-map-color-pin-pole-border:                         $ios-8-map-color-pin-pole-border;
$ios-map-color-pin-hole:                                $ios-8-map-color-pin-hole;
$ios-map-color-annotation:                              $ios-8-map-color-annotation;
$ios-map-color-annotation-travel:                       $ios-8-map-color-annotation-travel;
$ios-map-color-annotation-arrow:                        $ios-8-map-color-annotation-arrow;
$ios-map-color-annotation-star-top:                     $ios-8-map-color-annotation-star-top;
$ios-map-color-annotation-star-bottom:                  $ios-8-map-color-annotation-star-bottom;
$ios-map-color-commercial-area:                         $ios-8-map-color-commercial-area;
$ios-map-color-business:                                $ios-8-map-color-business;
$ios-map-color-orb:                                     $ios-8-map-color-orb;
$ios-map-color-orb-border:                              $ios-8-map-color-orb-border;
$ios-map-color-orb-pulse:                               $ios-8-map-color-orb-pulse;