$app-border-accent-color:                1px solid rgba(0,0,0,0.50);
$app-border-accent-color-base:           #000000;
$app-border-accent-opacity:              0.5;
$app-border-accent-width:                1px;

$app-border-radius:                      4px;
