@import '~@theory/web/src/sass/variables';
@import '~@theory/google/src/sass/variables';

@import 'icons';

$app-input-height:                           34px;
$app-input-line-height:                      $tn-line-height;

$app-input-directive-height:                 $app-input-height;
$app-input-directive-space-right:            $app-input-height + 0.9;

$app-input-icon-font-family:                 $app-font-ionic-icons;
$app-input-icon-line-height:                 $app-input-directive-height;
$app-input-icon-verified-color:              $app-color-primary;
$app-input-icon-error-color:                 $gm-color-red-800;
$app-input-icon-clear-color:                 $gm-color-grey-400;

$app-input-icon-verified:                    '\f2bc';    // $ionicon-var-checkmark
$app-input-icon-error:                       '\f2c0';    // $ionicon-var-close
$app-input-icon-verified-round:              '\f2bb';    // $ionicon-var-checkmark-round
$app-input-icon-error-round:                 '\f14e';    // $ionicon-var-close-round
$app-input-icon-clear:                       '\f2bf';    // $ionicon-var-close-circled

$app-input-spinner-height:           if(ceil($app-input-directive-height / $tn-golden-ratio) % 2 == 0, ceil($app-input-directive-height / $tn-golden-ratio), floor($app-input-directive-height / $tn-golden-ratio));
$app-input-spinner-width:            $app-input-spinner-height;
$app-input-spinner-margin:           ($app-input-directive-height - $app-input-spinner-height) / 2;
$app-input-spinner-margin-right:     $app-input-spinner-width + (($app-input-directive-space-right - $app-input-spinner-width) / 2);

$app-input-icon-font-size:           $app-input-spinner-height;

$app-input-icon-verified-width:      $app-input-icon-font-size * 0.8125;
$app-input-icon-verified-margin:     $app-input-icon-verified-width + (($app-input-directive-space-right - $app-input-icon-verified-width) / 2);
$app-input-icon-error-width:         $app-input-icon-font-size * 0.75;
$app-input-icon-error-margin:        $app-input-icon-error-width + (($app-input-directive-space-right - $app-input-icon-error-width) / 2);
$app-input-icon-clear-width:         $app-input-icon-font-size;

