@import '~@theory/google/src/sass/variables';

@import 'colors';

$app-detail-header-height:                       167px;
$app-list-item-font-color:                     #030303;
$app-list-item-font-color-note:                  $app-color-grey-lighter;
$app-list-box-shadow:                            $gm-elevated-1;
$app-list-card-border-radius:                    3px;
$app-list-item-icon-color:                       $app-color-grey-lighter;
