@import '~@theory/google/src/sass/variables';

@import 'fonts';
@import 'shadows';
@import 'icons';

$app-provider-button-color-text:             $gm-color-white;
$app-provider-button-font-size:              10px;
$app-provider-button-font-family:            $app-font-helvetica-neue;
$app-provider-button-text-shadow:            $app-box-shadow-light-background;

$app-provider-button-icon-font-size:          16px;
$app-provider-button-icon-font-family:        $app-font-font-awesome;
$app-provider-button-icon-height:             17px;
$app-provider-button-icon-width:              16px;
$app-provider-button-icon-width-with-margin:  26px;
$app-provider-button-icon-color-background:   $gm-color-white;
$app-provider-button-icon-border-radius:      2px;
