@import 'colors';

$app-tabs-height:                                49px;
$app-tabs-text-color-active:                     $app-color-dark-text-active;
$app-tabs-text-color-inactive:                   $app-color-dark-text-inactive;
$app-tabs-text-color-border:                     $app-color-dark-text-border;
$app-tabs-text-color-icon-font-size:             25px;

$app-tabs-top-height:                            44px;
$app-tabs-top-text-color-active:                 $app-tabs-text-color-active;
$app-tabs-top-text-color-inactive:               $app-color-dark-text;
$app-tabs-top-text-color-border:                 $app-tabs-text-color-border;
$app-tabs-top-text-color-icon-font-size:         $app-tabs-text-color-icon-font-size;
$app-tabs-top-text-font-size:                    10px;
$app-tabs-top-text-font-weight:                  600;

$app-tabs-bottom-height:                         $app-tabs-height;
$app-tabs-bottom-text-color-active:              $app-tabs-text-color-active;
$app-tabs-bottom-text-color-inactive:            $app-tabs-text-color-inactive;
$app-tabs-bottom-text-color-border:              $app-tabs-text-color-border;
$app-tabs-bottom-text-color-icon-font-size:      $app-tabs-text-color-icon-font-size;
