$tn-input-spinner-height:           if(ceil($tn-input-directive-height / $tn-golden-ratio) % 2 == 0, ceil($tn-input-directive-height / $tn-golden-ratio), floor($tn-input-directive-height / $tn-golden-ratio));
$tn-input-spinner-width:            $tn-input-spinner-height;
$tn-input-spinner-margin:           ($tn-input-directive-height - $tn-input-spinner-height) / 2;
$tn-input-spinner-margin-right:     $tn-input-spinner-width + (($tn-input-directive-space-right - $tn-input-spinner-width) / 2);

$tn-input-icon-font-size:           $tn-input-spinner-height;

$tn-input-icon-verified-width:      $tn-input-icon-font-size * 0.8125;
$tn-input-icon-verified-margin:     $tn-input-icon-verified-width + (($tn-input-directive-space-right - $tn-input-icon-verified-width) / 2);
$tn-input-icon-error-width:         $tn-input-icon-font-size * 0.75;
$tn-input-icon-error-margin:        $tn-input-icon-error-width + (($tn-input-directive-space-right - $tn-input-icon-error-width) / 2);
$tn-input-icon-clear-width:         $tn-input-icon-font-size;

.tn-input-container
{
    &:after
    {
        display: none;
        position: absolute;
        top: 0; right: 0;
        font-family: $tn-input-icon-font-family;
        font-size: $tn-input-icon-font-size;
        line-height: $tn-input-icon-line-height;
    }

    &.tn-input-status-verified
    {
        &:after
        {
            display: block;
            content: $tn-input-icon-verified;
            color: $tn-input-icon-verified-color;
            right: -($tn-input-icon-verified-margin);
        }

        &.tn-input-icon-rounded:after
        {
            content: $tn-input-icon-verified-round;
        }
    }

    &.tn-input-status-error
    {
        &:after
        {
            display: block;
            content: $tn-input-icon-error;
            color: $tn-input-icon-error-color;
            right: -($tn-input-icon-error-margin);
        }

        &.tn-input-icon-rounded:after
        {
            content: $tn-input-icon-error-round;
        }
    }

    > .spinner
    {
        display: block;
        position: absolute;
        top: $tn-input-spinner-margin; right: -($tn-input-spinner-margin-right);

        > svg
        {
            height: $tn-input-spinner-height; width: $tn-input-spinner-width;
        }
    }

    > .tn-input-clear
    {
        &:after
        {
            display: block;
            position: absolute;
            top: 0; right: $tn-input-spinner-margin;
            font-family: $tn-input-icon-font-family;
            font-size: $tn-input-icon-font-size;
            line-height: $tn-input-icon-line-height;
            content: $tn-input-icon-clear;
            color: $tn-input-icon-clear-color;
        }
    }
}