$tn-input-directive-height:         $tn-input-height;
$tn-input-directive-space-right:    $tn-input-height + 0.4;

$tn-input-icon-font-family:         $tn-font-family-ionic-icons;
$tn-input-icon-line-height:         $tn-input-directive-height;
$tn-input-icon-verified-color:      $gm-color-green-light-a400;
$tn-input-icon-error-color:         $gm-color-red-800;
$tn-input-icon-clear-color:         $gm-color-grey-400;

$tn-input-icon-verified:            $ionic-icon-checkmark;  
$tn-input-icon-error:               $ionic-icon-close;
$tn-input-icon-verified-round:      $ionic-icon-checkmark-round;  
$tn-input-icon-error-round:         $ionic-icon-close-round;
$tn-input-icon-clear:               $ionic-icon-close-circled;