$tn-table-header-height:        36px;
$tn-table-header-font-size:     11px;

$tn-table-body-height:          52px;

$tn-table-footer-height:        $tn-table-header-height;

$tn-table-icon:                 "\f0ec";
$tn-table-icon-ascending:       "\f160";
$tn-table-icon-descending:      "\f161";
$tn-table-icon-font-family:     $tn-icons-font-awesome;