$ios-list-item-button-delete-width:                     $ios-8-list-item-button-delete-width;
$ios-list-item-button-delete-height:                    $ios-8-list-item-button-delete-height;
$ios-list-item-button-delete-color-background:          $ios-8-list-item-button-delete-color-background;
$ios-list-item-button-delete-font-color:                $ios-8-list-item-button-delete-font-color;
$ios-list-item-button-delete-font-size:                 $ios-8-list-item-button-delete-font-size;
$ios-list-item-button-delete-font-family:               $ios-8-list-item-button-delete-font-family;