.tn-photo
{
    > img   {height: 100%; width: 100%;}
    
    > .placeholder
    {
        height: 100%;
        width: 100%;
        font-size: 0px;

        .text
        {
            width: 100%;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;     
        }
    }
}