.tn-provider
{
    &.tn-button
    {
        color: $tn-provider-button-color-text;
        font-size: $tn-provider-button-font-size;
        font-family: $tn-provider-button-font-family;
        text-shadow: $tn-provider-button-text-shadow;

        .tn-item
        {
            position: relative;
            display: inline-block;
            line-height: $tn-line-height-none;
            padding-left: $tn-provider-button-icon-width-with-margin;

            &:before
            {
                box-sizing: border-box;
                display: block;
                position: absolute;
                top: -0.3rem; left: 0.4rem;
                height: $tn-provider-button-icon-height; width: $tn-provider-button-icon-width;
                font-family: $tn-provider-button-icon-font-family;
                font-size: $tn-provider-button-icon-font-size;
                border-radius: $tn-provider-button-icon-border-radius;
                background-color: $tn-provider-button-icon-color-background;
                text-shadow: none;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}