.tn-provider.tn-facebook
{
    &.tn-button
    {
        background-color: $fb-button-color-background;

        &:not([disabled]):hover
        {
            background-color: $fb-button-color-background;
        }

        &.md-focused
        {
            background-color: $fb-button-color-background;
        }

        > .tn-item
        {
            &:before
            {
                color: $fb-button-icon-color-text;
                content: $fb-button-icon-content;
                padding-top: 0.5rem; padding-left: 0.4rem;
            }
        }
    }
}