$tn-provider-button-color-text:             $gm-color-white;
$tn-provider-button-font-size:              1.0rem;
$tn-provider-button-font-family:            $tn-font-family-helvetica-neue;
$tn-provider-button-text-shadow:            $tn-box-shadow-light-background;

$tn-provider-button-icon-font-size:          1.6rem;
$tn-provider-button-icon-font-family:        $fa-font-family-font-awesome;
$tn-provider-button-icon-height:             1.7rem;
$tn-provider-button-icon-width:              1.6rem;
$tn-provider-button-icon-width-with-margin:  2.6rem;
$tn-provider-button-icon-color-background:   $gm-color-white;
$tn-provider-button-icon-border-radius:      0.2rem;