.tn-table
{
    width: 100%;
    height: 100%;

    > .tn-section
    {
        width: 100%;

        > .tn-row
        {
            > .tn-column.tn-hide
            {
                display: none;
            }
        }
    }

    > .tn-header
    {
        overflow: initial;

        > .tn-row
        {
            height: $tn-table-header-height;

            > .tn-column
            {
                position: relative;
                font-size: $tn-table-header-font-size;

                &:focus
                {
                    outline: none;
                }

                &.tn-sort
                {
                    &:focus
                    {
                        outline: none;
                    }

                    &:before
                    {
                        position: absolute;
                        height: 100%;
                        line-height: 100%;
                        top: 0; right: $tn-table-header-font-size * 2;
                        font-family: $tn-table-icon-font-family;
                        transform: rotate(90deg);
                        content: $tn-table-icon;
                    }

                    &.tn-ascending:before
                    {
                        top: ($tn-table-header-height - $tn-table-header-font-size) / 2; right: $tn-table-header-font-size;
                        transform: rotate(0deg);
                        content: $tn-table-icon-ascending;
                    }

                    &.tn-descending:before
                    {
                        top: ($tn-table-header-height - $tn-table-header-font-size) / 2; right: $tn-table-header-font-size;
                        transform: rotate(0deg);
                        content: $tn-table-icon-descending;
                    }
                }

                &:not(.tn-sort)
                {
                    cursor: not-allowed;
                }
            }
        }
    }

    > .tn-body
    {
        overflow: auto;

        height: 100%;

        &.tn-display-header
        {
            height: calc(100% - #{$tn-table-header-height});

            &.tn-display-footer
            {
                height: calc(100% - #{$tn-table-header-height} - #{$tn-table-footer-height});
            }
        }

        > .tn-row
        {
            position: relative;
            height: $tn-table-body-height;

            &:focus
            {
                outline: none;
            }
        }
    }

    > .tn-footer
    {
        overflow: initial;
        
        > .tn-row
        {
            position: relative;
            height: $tn-table-footer-height;

            &:focus
            {
                outline: none;
            }
        }
    }

    .tn-column
    {
        background-clip: padding-box;
    }
}