<ion-header>
  <ion-toolbar elevation="2" color="dark">
      <ion-title color="primary">{{'page.assets.title' | translate}}</ion-title>

      <ion-buttons slot="start">
          <ion-back-button color="primary"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none" elevation="1">
        <ion-item (click)="go(Pages.Clusters)">
            <ion-icon src="/assets/fonts/firefly/firefly.svg" slot="start"></ion-icon>
            <ion-label>
                <h3>{{'page.assets.clusters' | translate}}</h3>
                <p>{{'page.assets.clustersDescription' | translate}}</p>
            </ion-label>
        </ion-item>

        <ion-item (click)="go(Pages.Events)">
            <ion-icon name="calendar" slot="start"></ion-icon>
            <ion-label>
                <h3>{{'page.assets.events' | translate}}</h3>
                <p>{{'page.assets.eventsDescription' | translate}}</p>
            </ion-label>
        </ion-item>

        <ion-item (click)="go(Pages.Places)">
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>
                <h3>{{'page.assets.places' | translate}}</h3>
                <p>{{'page.assets.placesDescription' | translate}}</p>
            </ion-label>
        </ion-item>

        <ion-item (click)="go(Pages.Icons)">
            <ion-icon name="contact" slot="start"></ion-icon>
            <ion-label>
                <h3>{{'page.assets.icons' | translate}}</h3>
                <p>{{'page.assets.iconsDescription' | translate}}</p>
            </ion-label>
        </ion-item>

        <ion-item (click)="go(Pages.Images)">
            <ion-icon name="images" slot="start"></ion-icon>
            <ion-label>
                <h3>{{'page.assets.images' | translate}}</h3>
                <p>{{'page.assets.imagesDescription' | translate}}</p>
            </ion-label>
        </ion-item>
    <!--
        <ion-item (click)="go(Pages.Coupons)">
            <ion-icon name="pricetags" slot="start"></ion-icon>
            <ion-label>
                <h3>{{'page.assets.coupons' | translate}}</h3>
                <p>{{'page.assets.couponsDescription' | translate}}</p>
            </ion-label>
        </ion-item>

        <ion-item (click)="go(Pages.Beacons)">
            <ion-icon name="bluetooth" slot="start"></ion-icon>
            <ion-label>
                <h3>{{'page.assets.beacons' | translate}}</h3>
                <p>{{'page.assets.beaconsDescription' | translate}}</p>
            </ion-label>
        </ion-item>
    -->

    </ion-list>
</ion-content>
