$comp-item-map-font-color:                 $app-color-light-text;
$comp-item-map-font-size:                 17px;
$comp-item-map-line-height:                20px;

$comp-item-map-window-height:              155px;
$comp-item-map-border-radius:              5px;

app-item-map
{
    .comp-title
    {
        color: $comp-item-map-font-color;
        font-size: $comp-item-map-font-size;
        font-weight: normal;
        line-height: $comp-item-map-line-height;
        margin-bottom: 8px;
    }

    .comp-map-window
    {
        width: 100%;
        height: $comp-item-map-window-height;
        border-radius: $comp-item-map-border-radius;
        background-color: black;
    }
}
