<ion-header color="white">
    <ion-toolbar >
        <ion-title>
            {{ 'page.interest.title' | translate }}
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="delete()" *ngIf="canEdit$ | async"
                      icon-only>
                      <ion-icon name="trash" color="dark" size="large"></ion-icon>
          </ion-button>
          <ion-button (click)="edit()" *ngIf="canEdit$ | async"
                      icon-only>
                      <ion-icon name="create-outline" size="large" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

        <img class="image-cnt" [src]="(interest$ | async).metadata.image">

        <div class="cpt-detail" fxLayout="column">
            <div class="cnt-name">
              <div class="name">| {{ (interest$ | async).name }} |</div>
            </div>
            <div class="cnt-tagline">
              <div class="tagline">{{ (interest$ | async).tagline }}</div>
            </div>
            <div class="cnt-description">
              <p class="description">{{ (interest$ | async).description }}</p>
            </div>
            <div *ngIf="(pendingEvents$ | async).length > 0">
              <ion-item-divider></ion-item-divider>
              <ion-item>
                <ion-label>Pending Events:</ion-label>
              </ion-item>
              <ion-list *ngFor="let event of pendingEvents$ | async">
                <ion-item-divider>
                  <ion-label>
                      {{ event.timeStart | timestamp: TimestampFormat.DateLong }}
                  </ion-label>
                </ion-item-divider>

                <ion-item>
                  <ion-avatar (click)="select(event)" slot="start">
                      <img [src]="event.metadata.image">
                  </ion-avatar>
                  <ion-label (click)="select(event)">
                      {{ event.timeStart | timestamp: TimestampFormat.ShortTime }}
                  </ion-label>
                  <ion-label (click)="select(event)">
                      <h2>{{ event.name }}</h2>
                      <p>{{ event.tagline }}</p>
                  </ion-label>
                  <div *ngIf="canEdit$ | async" fxLayout="row">
                  <ion-label >
                    <ion-button (click)="acceptEvent(event)" icon-only>
                      <ion-icon color="dark" name="checkmark-outline"></ion-icon>
                    </ion-button>
                  </ion-label>
                  <ion-label>
                    <ion-button (click)="denyEvent(event)" icon-only>
                      <ion-icon color="dark" name="close-outline"></ion-icon>
                    </ion-button>
                  </ion-label>
                </div>
                </ion-item>
              </ion-list>
            </div>
            <ion-list>
                <ion-item-group>
                    <ion-item-divider></ion-item-divider>
                    <ion-list *ngFor="let event of events$ | async">
                      <ion-item-divider>
                          <ion-label>
                              {{ event.timeStart | timestamp: TimestampFormat.DateLong }}
                          </ion-label>
                      </ion-item-divider>

                      <ion-item (click)="select(event)">
                          <ion-avatar slot="start">
                              <img [src]="event.metadata.image">
                          </ion-avatar>
                          <ion-label>
                              {{ event.timeStart | timestamp: TimestampFormat.ShortTime }}
                          </ion-label>
                          <ion-label>
                              <h2>{{ event.name }}</h2>
                              <p>{{ event.tagline }}</p>
                          </ion-label>
                      </ion-item>
                    </ion-list>

                    <ion-item-divider></ion-item-divider>
                </ion-item-group>
            </ion-list>
        </div>

    <app-button-add *ngIf="isPublisher$ | async" (clicked)="add()" slot="fixed"></app-button-add>
</ion-content>
